.domain-tal-net .above-header {
  border-top: 0px solid #1E0067;
}

@media (min-width: 777px) {
  .domain-tal-net .above-header {
    border-top: 10px solid #1E0067;
  }
}

.domain-tal-net a, .domain-tal-net a:visited {
  color: #1E0067;
}

.domain-tal-net .navbar a,
.domain-tal-net .navbar a:visited {
  color: #000;
}

.domain-tal-net .navbar li a.active, .domain-tal-net .main-navigation .links li a.active, .domain-tal-net .main-navigation .menu li a.active,
.domain-tal-net .navbar li a:hover, .domain-tal-net .main-navigation .links li a:hover, .domain-tal-net .main-navigation .menu li a:hover,
.domain-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-tal-net .menu-toggle.open,
.domain-tal-net .off-canvas--close.open:after {
  color: #1E0067;
}

.domain-tal-net .above-header__inner,
.domain-tal-net .slide,
.domain-tal-net .block__expert-guidance, .domain-tal-net .block__get-started,
.domain-tal-net .block--get-started-cta,
.domain-tal-net .box--review-set-up-ok,
.domain-tal-net .box, .domain-tal-net .box--review-set-up-ok {
  background: #1E0067;
}

.domain-tal-net .block--get-started-cta p a,
.domain-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-tal-net .button, .domain-tal-net button, .domain-tal-net [type='button'], .domain-tal-net [type='reset'], .domain-tal-net [type='submit'] {
  background: #1E0067 !important;
}

.domain-tal-net .button:focus, .domain-tal-net .button:active, .domain-tal-net button:focus, .domain-tal-net button:active, .domain-tal-net [type='button']:focus, .domain-tal-net [type='button']:active, .domain-tal-net [type='reset']:focus, .domain-tal-net [type='reset']:active, .domain-tal-net [type='submit']:focus, .domain-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-tal-net .button:hover, .domain-tal-net [type='button']:hover, .domain-tal-net [type='submit']:hover {
  background: #28008b !important;
  color: #fff;
}

.domain-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #1E0067 !important;
}

.domain-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #28008b !important;
}

.domain-tal-net .table-team-reviews th,
.domain-tal-net .table-ind-reviews th {
  background: #1E0067;
  color: #fff;
}

.domain-tal-net ul.custom-tabs li.tab-current {
  color: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .review-report-info a {
  color: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .icon-copy {
  background: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #250081;
}

.domain-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #1E0067 !important;
}

.domain-phe-tal-net .above-header {
  border-top: 0px solid #00AF9F;
}

@media (min-width: 777px) {
  .domain-phe-tal-net .above-header {
    border-top: 10px solid #00AF9F;
  }
}

.domain-phe-tal-net a, .domain-phe-tal-net a:visited {
  color: #00AF9F;
}

.domain-phe-tal-net .navbar a,
.domain-phe-tal-net .navbar a:visited {
  color: #000;
}

.domain-phe-tal-net .navbar li a.active, .domain-phe-tal-net .main-navigation .links li a.active, .domain-phe-tal-net .main-navigation .menu li a.active,
.domain-phe-tal-net .navbar li a:hover, .domain-phe-tal-net .main-navigation .links li a:hover, .domain-phe-tal-net .main-navigation .menu li a:hover,
.domain-phe-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-phe-tal-net .menu-toggle.open,
.domain-phe-tal-net .off-canvas--close.open:after {
  color: #00AF9F;
}

.domain-phe-tal-net .above-header__inner,
.domain-phe-tal-net .slide,
.domain-phe-tal-net .block__expert-guidance, .domain-phe-tal-net .block__get-started,
.domain-phe-tal-net .block--get-started-cta,
.domain-phe-tal-net .box--review-set-up-ok,
.domain-phe-tal-net .box, .domain-phe-tal-net .box--review-set-up-ok {
  background: #00AF9F;
}

.domain-phe-tal-net .block--get-started-cta p a,
.domain-phe-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-phe-tal-net .button, .domain-phe-tal-net button, .domain-phe-tal-net [type='button'], .domain-phe-tal-net [type='reset'], .domain-phe-tal-net [type='submit'] {
  background: #00AF9F !important;
}

.domain-phe-tal-net .button:focus, .domain-phe-tal-net .button:active, .domain-phe-tal-net button:focus, .domain-phe-tal-net button:active, .domain-phe-tal-net [type='button']:focus, .domain-phe-tal-net [type='button']:active, .domain-phe-tal-net [type='reset']:focus, .domain-phe-tal-net [type='reset']:active, .domain-phe-tal-net [type='submit']:focus, .domain-phe-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-phe-tal-net .button:hover, .domain-phe-tal-net [type='button']:hover, .domain-phe-tal-net [type='submit']:hover {
  background: #00d3bf !important;
  color: #fff;
}

.domain-phe-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #00AF9F !important;
}

.domain-phe-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #00d3bf !important;
}

.domain-phe-tal-net .table-team-reviews th,
.domain-phe-tal-net .table-ind-reviews th {
  background: #00AF9F;
  color: #fff;
}

.domain-phe-tal-net ul.custom-tabs li.tab-current {
  color: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .review-report-info a {
  color: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .icon-copy {
  background: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #00c9b6;
}

.domain-phe-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #00AF9F !important;
}

.domain-croydon-tal-net .above-header {
  border-top: 0px solid #880088;
}

@media (min-width: 777px) {
  .domain-croydon-tal-net .above-header {
    border-top: 10px solid #880088;
  }
}

.domain-croydon-tal-net a, .domain-croydon-tal-net a:visited {
  color: #880088;
}

.domain-croydon-tal-net .navbar a,
.domain-croydon-tal-net .navbar a:visited {
  color: #000;
}

.domain-croydon-tal-net .navbar li a.active, .domain-croydon-tal-net .main-navigation .links li a.active, .domain-croydon-tal-net .main-navigation .menu li a.active,
.domain-croydon-tal-net .navbar li a:hover, .domain-croydon-tal-net .main-navigation .links li a:hover, .domain-croydon-tal-net .main-navigation .menu li a:hover,
.domain-croydon-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-croydon-tal-net .menu-toggle.open,
.domain-croydon-tal-net .off-canvas--close.open:after {
  color: #880088;
}

.domain-croydon-tal-net .above-header__inner,
.domain-croydon-tal-net .slide,
.domain-croydon-tal-net .block__expert-guidance, .domain-croydon-tal-net .block__get-started,
.domain-croydon-tal-net .block--get-started-cta,
.domain-croydon-tal-net .box--review-set-up-ok,
.domain-croydon-tal-net .box, .domain-croydon-tal-net .box--review-set-up-ok {
  background: #880088;
}

.domain-croydon-tal-net .block--get-started-cta p a,
.domain-croydon-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-croydon-tal-net .button, .domain-croydon-tal-net button, .domain-croydon-tal-net [type='button'], .domain-croydon-tal-net [type='reset'], .domain-croydon-tal-net [type='submit'] {
  background: #880088 !important;
}

.domain-croydon-tal-net .button:focus, .domain-croydon-tal-net .button:active, .domain-croydon-tal-net button:focus, .domain-croydon-tal-net button:active, .domain-croydon-tal-net [type='button']:focus, .domain-croydon-tal-net [type='button']:active, .domain-croydon-tal-net [type='reset']:focus, .domain-croydon-tal-net [type='reset']:active, .domain-croydon-tal-net [type='submit']:focus, .domain-croydon-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-croydon-tal-net .button:hover, .domain-croydon-tal-net [type='button']:hover, .domain-croydon-tal-net [type='submit']:hover {
  background: #ac00ac !important;
  color: #fff;
}

.domain-croydon-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #880088 !important;
}

.domain-croydon-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #ac00ac !important;
}

.domain-croydon-tal-net .table-team-reviews th,
.domain-croydon-tal-net .table-ind-reviews th {
  background: #880088;
  color: #fff;
}

.domain-croydon-tal-net ul.custom-tabs li.tab-current {
  color: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .review-report-info a {
  color: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .icon-copy {
  background: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #a200a2;
}

.domain-croydon-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #880088 !important;
}

.domain-croydon-tal-net .header__logo img {
  max-height: 35px !important;
}

@media (min-width: 777px) {
  .domain-croydon-tal-net .header__logo img {
    max-height: 70px !important;
  }
}

.domain-est-tal-net .above-header {
  border-top: 0px solid #CF0072;
}

@media (min-width: 777px) {
  .domain-est-tal-net .above-header {
    border-top: 10px solid #CF0072;
  }
}

.domain-est-tal-net a, .domain-est-tal-net a:visited {
  color: #CF0072;
}

.domain-est-tal-net .navbar a,
.domain-est-tal-net .navbar a:visited {
  color: #000;
}

.domain-est-tal-net .navbar li a.active, .domain-est-tal-net .main-navigation .links li a.active, .domain-est-tal-net .main-navigation .menu li a.active,
.domain-est-tal-net .navbar li a:hover, .domain-est-tal-net .main-navigation .links li a:hover, .domain-est-tal-net .main-navigation .menu li a:hover,
.domain-est-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-est-tal-net .menu-toggle.open,
.domain-est-tal-net .off-canvas--close.open:after {
  color: #CF0072;
}

.domain-est-tal-net .above-header__inner,
.domain-est-tal-net .slide,
.domain-est-tal-net .block__expert-guidance, .domain-est-tal-net .block__get-started,
.domain-est-tal-net .block--get-started-cta,
.domain-est-tal-net .box--review-set-up-ok,
.domain-est-tal-net .box, .domain-est-tal-net .box--review-set-up-ok {
  background: #CF0072;
}

.domain-est-tal-net .block--get-started-cta p a,
.domain-est-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-est-tal-net .button, .domain-est-tal-net button, .domain-est-tal-net [type='button'], .domain-est-tal-net [type='reset'], .domain-est-tal-net [type='submit'] {
  background: #CF0072 !important;
}

.domain-est-tal-net .button:focus, .domain-est-tal-net .button:active, .domain-est-tal-net button:focus, .domain-est-tal-net button:active, .domain-est-tal-net [type='button']:focus, .domain-est-tal-net [type='button']:active, .domain-est-tal-net [type='reset']:focus, .domain-est-tal-net [type='reset']:active, .domain-est-tal-net [type='submit']:focus, .domain-est-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-est-tal-net .button:hover, .domain-est-tal-net [type='button']:hover, .domain-est-tal-net [type='submit']:hover {
  background: #f30086 !important;
  color: #fff;
}

.domain-est-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #CF0072 !important;
}

.domain-est-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #f30086 !important;
}

.domain-est-tal-net .table-team-reviews th,
.domain-est-tal-net .table-ind-reviews th {
  background: #CF0072;
  color: #fff;
}

.domain-est-tal-net ul.custom-tabs li.tab-current {
  color: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .review-report-info a {
  color: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .icon-copy {
  background: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #e90080;
}

.domain-est-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #CF0072 !important;
}

.domain-chp-tal-net .above-header {
  border-top: 0px solid #0056A3;
}

@media (min-width: 777px) {
  .domain-chp-tal-net .above-header {
    border-top: 10px solid #0056A3;
  }
}

.domain-chp-tal-net a, .domain-chp-tal-net a:visited {
  color: #0056A3;
}

.domain-chp-tal-net .navbar a,
.domain-chp-tal-net .navbar a:visited {
  color: #000;
}

.domain-chp-tal-net .navbar li a.active, .domain-chp-tal-net .main-navigation .links li a.active, .domain-chp-tal-net .main-navigation .menu li a.active,
.domain-chp-tal-net .navbar li a:hover, .domain-chp-tal-net .main-navigation .links li a:hover, .domain-chp-tal-net .main-navigation .menu li a:hover,
.domain-chp-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-chp-tal-net .menu-toggle.open,
.domain-chp-tal-net .off-canvas--close.open:after {
  color: #0056A3;
}

.domain-chp-tal-net .above-header__inner,
.domain-chp-tal-net .slide,
.domain-chp-tal-net .block__expert-guidance, .domain-chp-tal-net .block__get-started,
.domain-chp-tal-net .block--get-started-cta,
.domain-chp-tal-net .box--review-set-up-ok,
.domain-chp-tal-net .box, .domain-chp-tal-net .box--review-set-up-ok {
  background: #0056A3;
}

.domain-chp-tal-net .block--get-started-cta p a,
.domain-chp-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-chp-tal-net .button, .domain-chp-tal-net button, .domain-chp-tal-net [type='button'], .domain-chp-tal-net [type='reset'], .domain-chp-tal-net [type='submit'] {
  background: #0056A3 !important;
}

.domain-chp-tal-net .button:focus, .domain-chp-tal-net .button:active, .domain-chp-tal-net button:focus, .domain-chp-tal-net button:active, .domain-chp-tal-net [type='button']:focus, .domain-chp-tal-net [type='button']:active, .domain-chp-tal-net [type='reset']:focus, .domain-chp-tal-net [type='reset']:active, .domain-chp-tal-net [type='submit']:focus, .domain-chp-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-chp-tal-net .button:hover, .domain-chp-tal-net [type='button']:hover, .domain-chp-tal-net [type='submit']:hover {
  background: #0069c7 !important;
  color: #fff;
}

.domain-chp-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #0056A3 !important;
}

.domain-chp-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #0069c7 !important;
}

.domain-chp-tal-net .table-team-reviews th,
.domain-chp-tal-net .table-ind-reviews th {
  background: #0056A3;
  color: #fff;
}

.domain-chp-tal-net ul.custom-tabs li.tab-current {
  color: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .review-report-info a {
  color: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .icon-copy {
  background: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #0063bd;
}

.domain-chp-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #0056A3 !important;
}

.domain-redcross-tal-net .above-header {
  border-top: 0px solid #D0021B;
}

@media (min-width: 777px) {
  .domain-redcross-tal-net .above-header {
    border-top: 10px solid #D0021B;
  }
}

.domain-redcross-tal-net a, .domain-redcross-tal-net a:visited {
  color: #D0021B;
}

.domain-redcross-tal-net .navbar a,
.domain-redcross-tal-net .navbar a:visited {
  color: #000;
}

.domain-redcross-tal-net .navbar li a.active, .domain-redcross-tal-net .main-navigation .links li a.active, .domain-redcross-tal-net .main-navigation .menu li a.active,
.domain-redcross-tal-net .navbar li a:hover, .domain-redcross-tal-net .main-navigation .links li a:hover, .domain-redcross-tal-net .main-navigation .menu li a:hover,
.domain-redcross-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-redcross-tal-net .menu-toggle.open,
.domain-redcross-tal-net .off-canvas--close.open:after {
  color: #D0021B;
}

.domain-redcross-tal-net .above-header__inner,
.domain-redcross-tal-net .slide,
.domain-redcross-tal-net .block__expert-guidance, .domain-redcross-tal-net .block__get-started,
.domain-redcross-tal-net .block--get-started-cta,
.domain-redcross-tal-net .box--review-set-up-ok,
.domain-redcross-tal-net .box, .domain-redcross-tal-net .box--review-set-up-ok {
  background: #D0021B;
}

.domain-redcross-tal-net .block--get-started-cta p a,
.domain-redcross-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-redcross-tal-net .button, .domain-redcross-tal-net button, .domain-redcross-tal-net [type='button'], .domain-redcross-tal-net [type='reset'], .domain-redcross-tal-net [type='submit'] {
  background: #D0021B !important;
}

.domain-redcross-tal-net .button:focus, .domain-redcross-tal-net .button:active, .domain-redcross-tal-net button:focus, .domain-redcross-tal-net button:active, .domain-redcross-tal-net [type='button']:focus, .domain-redcross-tal-net [type='button']:active, .domain-redcross-tal-net [type='reset']:focus, .domain-redcross-tal-net [type='reset']:active, .domain-redcross-tal-net [type='submit']:focus, .domain-redcross-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-redcross-tal-net .button:hover, .domain-redcross-tal-net [type='button']:hover, .domain-redcross-tal-net [type='submit']:hover {
  background: #f30220 !important;
  color: #fff;
}

.domain-redcross-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #D0021B !important;
}

.domain-redcross-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #f30220 !important;
}

.domain-redcross-tal-net .table-team-reviews th,
.domain-redcross-tal-net .table-ind-reviews th {
  background: #D0021B;
  color: #fff;
}

.domain-redcross-tal-net ul.custom-tabs li.tab-current {
  color: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .review-report-info a {
  color: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .icon-copy {
  background: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #e9021e;
}

.domain-redcross-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #D0021B !important;
}

[id^='kssref-layouts-'] [class^='layout-'][class*='__'] {
  outline: 1px dotted #999999;
}

#kssref-layouts-layout-3column .kss-modifier__example {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 777px) {
  #kssref-layouts-layout-3column .kss-modifier__example {
    padding-left: 12px;
    padding-right: 13px;
  }
  [dir="rtl"] #kssref-layouts-layout-3column .kss-modifier__example {
    padding-left: 13px;
    padding-right: 12px;
  }
}

/*# sourceMappingURL=kss-only.css.map */
