/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */

#navbar {
  border-bottom:12px solid #4EA9F2;
  border-left:20px solid white;
  border-right:20px solid white;
}

p {
  color:#505050;
}

.jumbotron p {
    color: #4EA9F2;
	background-color:white;
}

a {
  color:#5d5c5c;  
}

.home_head {
  color:#4EA9F2;
}

a:hover, a:focus {
  color: #4EA9F2;
  text-decoration: underline;
  }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #4EA9F2;
  text-decoration: underline;
  background-color: none;  /*change color of links in all drop down here. doesn't seem to work*/
}

/* Making changes to navbar */

.navbar-default .navbar-nav > li > a {
  color: #5d5c5c; /*Change menu links text color here*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4EA9F2;
  text-decoration: underline;
}

/* End navbar color and font settings */

.btn-xlarge {
  background-color:#4EA9F2;
  border: 3px solid #4EA9F2;
  color:white;
}

.btn-xlarge a{
  color:white;
  text-decoration: none;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  color: white;
  text-decoration:underline;
}

/*
.jumbotron {
background-image: url(../images/business-meetings.jpg);
}
*/
