/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */

 p, li {
	color:#40003d;
 }

a {
  color:#cf0072;
  }

.home_head {
  color:#40003d;
}


  a:hover, a:focus{
  color: #cf0072;
  text-decoration: underline;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #40003d;
  text-decoration: underline;
  background-color:none;  /*change color of links in all drop down here. doesn't seem to work*/
   }

/* Making changes to navbar */

 #navbar {
	border-bottom:12px solid #393197;
	border-left:20px solid white;
	border-right:20px solid white;
}

  .navbar-default .navbar-nav > li > a {
   color: #40003d; /*Change menu links text color here*/
    }
	
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #40003d;
  text-decoration:underline;
}
	
/* End navbar color and font settings */


.btn-xlarge {
  background-color:#CF0072;
  border: 3px solid #CF0072;
  color:white;
}

.btn-xlarge a{
  color:white;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  color: white;
  text-decoration:underline;
}



.jumbotron {
/*background-image: url(../images/est_home_team_cropped2.png);*/
background-image: url(../images/EST3.png);
border: 1px solid #393197;
}

.jumbotron p {
    color: #cf0072;
	background-color:white;
}


