/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */

 p {
	color:#17273F;
 }

a {
  color:#17273F;
}

.home_head {
  color:#17273F;
}


  a:hover, a:focus{
  color: #17273F;
  text-decoration: underline;
}

/* To float logo right */
.navbar-header {
	float: right;	
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #17273F;
  text-decoration: underline;
  background-color:none;  /*change color of links in all drop down here. doesn't seem to work*/
   }

/* Making changes to navbar */

 #navbar {
	border-bottom:12px solid #000000;
	border-left:20px solid white;
	border-right:20px solid white;
}

  .navbar-default .navbar-nav > li > a {
   color: #17273F; /*Change menu links text color here*/
    }
	
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #17273F;
  text-decoration:underline;
}
	
/* End navbar color and font settings */


.btn-xlarge {
  background-color:#000000;
  border: 3px solid #000000;
  color:white;
}

.btn-xlarge a{
  color:white;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  color: white;
  text-decoration:underline;
}

.jumbotron {
background-image: url(../images/adidas_jumbotron3.png);
}

.jumbotron p {
    color: #000000;
	background-color:white;
}


