/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */

#navbar {
  border-bottom:12px solid #231E20;
  border-left:20px solid white;
  border-right:20px solid white;
}

p {
  color:#505050;
}

a {
  color:#EF3327;
}

.jumbotron p {
    color: #00AF9F;
	background-color:white;
}

.home_head {
  color:#231E20;
}

a:hover, a:focus {
  color: #EF3327;
  text-decoration: underline;
  }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #EF3327;
  text-decoration: underline;
  background-color: none;  /*change color of links in all drop down here. doesn't seem to work*/
}

/* Making changes to navbar */

.navbar-default .navbar-nav > li > a {
  color: #EF3327; /*Change menu links text color here*/
}

/* Making changes to navbar */
.navbar-default .navbar-nav > li > a {
  color: #EF3327; /*Change menu links text color here*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #EF3327;
  text-decoration: underline;
}

/* End navbar color and font settings */


.btn-xlarge {
  background-color:#231E20;
  border: 3px solid #231E20;
  color:white;
}

.btn-xlarge a{
  color:white;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  color: white;
  text-decoration:underline;
