/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */



#navbar {
  border-bottom:12px solid #77BB55;
  border-left:20px solid white;
  border-right:20px solid white;
}

p {
  color:#444444;
}

a {
  color:#880088;
  text-decoration: underline;
}

.jumbotron {
background-image: url(../images/Croydon_Councils_P260 100.png);
}

.jumbotron p {
    color: #444444;
	background-color:white;
}


.home_head {
  color:#880088;
}

a:hover, a:focus {
  color: #880088;
  text-decoration: none;
  }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #880088;
  text-decoration: underline;
  background-color: none;  /*change color of links in all drop down here. doesn't seem to work*/
}

/* Making changes to navbar */

.navbar-default .navbar-nav > li > a {
  color: #880088; /*Change menu links text color here*/
}

/* Making changes to navbar */
.navbar-default .navbar-nav > li > a {
  color: #880088; /*Change menu links text color here*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #880088;
  text-decoration: none;
}

/* End navbar color and font settings */


.btn-xlarge {
  background-color:#880088;
  border: 3px solid #880088;
  color:white;
}

/*
.btn-xlarge:hover, .btn-xlarge:focus, .btn-xlarge:active{
  background-color:#444444;
  border: 3px solid #444444;
  color:white;
}
*/

.btn-xlarge a{
  color:white;
  text-decoration: underline;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  background-color:#880088;
  color: white;
  text-decoration:none;
