/*These final per-domain settings override css/style.css and all other CSS files because of weighting setting "array('group' => CSS_THEME)" in template.php */

 p {
	color:#505050;
 }

a {
  color:#39836E;
}

.home_head {
  color:#39836E;
}


  a:hover, a:focus{
  color: #39836E;
  text-decoration: underline;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #39836E;
  text-decoration: underline;
  background-color:none;  /*change color of links in all drop down here. doesn't seem to work*/
   }

/* Making changes to navbar */

 #navbar {
	border-bottom:12px solid #00AF9F;
	border-left:20px solid white;
	border-right:20px solid white;
}

  .navbar-default .navbar-nav > li > a {
   color: #39836E; /*Change menu links text color here*/
    }
	
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #39836E;
  text-decoration:underline;
}
	
/* End navbar color and font settings */


.btn-xlarge {
  background-color:#00AF9F;
  border: 3px solid #00AF9F;
  color:white;
}

.btn-xlarge a{
  color:white;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  color: white;
  text-decoration:underline;
}

.jumbotron {
background-image: url(../images/home_team.jpg);
}

.jumbotron p {
    color: #00AF9F;
	background-color:white;
}


