/*This file overrides bootstrap defaults for ALL domains. These are overridden on a per-domain basis at "domain-(clientname)_tal_net.css" */

#backtotop {
        display:none !important;
}

h1{
	font-size: 270%;
	font-family:Calibri;
	color:#757661;
}

h2{
	font-size: 180%;
	font-family:Calibri;
 }

 p, td, li, li.p, li.h3{
	font-size: 110%;
	font-family: calibri, helvetica, sans-serif;
 }
 
 h6 {
/*	color:#757661; */
	color:#505050;
	font-size:110%;
	font-family:Calibri;
 }
 
 .white_ex_blue {
	background-color:#F0EDE6;
	height: 36px;
	margin-top: -11px;
	margin-bottom: 9px;
 }
 
 body {
	color:#505050;
 }
 
 li {
	font-family: calibri, helvetica, sans-serif;
 }

 .p_font {
	font-size:110%;
	font-family: Calibri, helvetica, sans-serif;
 }
 
 .line_height_50 {
	line-height:50%;
 }
 
  .line_height_75 {
	line-height:75%;
 }

 /* font for dropdown */
 	.dropdown-toggle {
	font-family: calibri;
	font-size:86%;
}

	.dropdown-menu > li  > a  {
	font-family: calibri;
	font-size:90%;
}

/* Making all-domains overrides to navbar  */
  .navbar-default .navbar-nav > li > a {
   font-family: calibri;
   font-size:105%;
    }


 /* 
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
text-decoration:underline;  Sets the text hover color on navbar
} */

 /*.navbar-default .navbar-nav > li > a:active {
border: 1px solid #505050;;  /*Sets the text active color on navbar
} */

/* .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; text color for active*/
/* background-color: #030033; background color for active*/
/* border: 1px solid #505050;
}
*/

  .navbar-default {
    background-color: white;
    border: none;
}

 #navbar {
	border-bottom:12px solid #257ed3;
	border-left:20px solid white;
	border-right:20px solid white;
}

/*
 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; Change rollover cell color here
  }
*/

/* adding a media query to change the width at which the menu hamburger gets invoked, so site doesn't have to have two-line menu bar */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/* End of media query for hamburger change point */

.breadcrumb {
    background-color: white;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0px 0px;
}

/* nolink and separator are from the Special Menu Items module */

 .nolink {
	color:#505050;
	font-size: 100%;
	line-height:20px;
	display:block;
	padding-left:15px;
	padding-right:10px;
	padding-top:16px;
	
 }
 
 .separator  hr{
	border-top: 1px solid silver;
	margin: 0px 20px;
 }


/* End all-domains overrides to navbar*/	
/*
 #coachlogo{    
    margin: 25px 0px 100px -20px;
	border: 1px solid red;
    width: 160px;
    height: 165px
}
*/
.ref {
    font-size:90%;
    font-style:italic;
    font-weight:normal;
    color: #333;
    font-family: Arial, helvetica,sans-serif; 
}

.ref a {
    color: #09016e;
    font-weight:normal;
}



.topic_header {
	font-size: 270%;
	font-family:Calibri;
}
.visionary_font_color {
	color:#b4931d;
}

.guardian_font_color {
	color:#bf401f;
}

.psychologist_font_color {
	color:#2cb11e;
}

.director_font_color {
	color:#8321c0;
}

.process_admin_font_color {
	color:#757661;
}

.overview_font_color {
	color:#0f71cf;
}

.top-tips-title {
	font-size: 90%;
	font-family: Calibri, helvetica, sans-serif;
}

.block-title {
	font-size: 170%;
	font-family: Calibri, helvetica, sans-serif;
}

.home_head {
  	font-size:170%;
	font-family: Calibri, helvetica, sans-serif;
	color: #0F71CF;
}

.margin_top_5 {
	margin-top: 5%;
}

.margin_bottom_5 {
	margin-bottom: 5%;
}

.margin_bottom_10 {
	margin-bottom: 10%;
}
.margin_bottom_1 {
	margin-bottom: 1%;
}

.margin_left_0 {
	margin-left: 0%;
}

.margin_left_10 {
	margin-left: 10%;
}

.margin_right_10 {
	margin-right: 10%;
}

.btn-xlarge {
    padding: 10px 10px;
	border:none;
  	font-size:120%;
	
	  background-color:#257ed3;
      /*border: 3px solid #B0A9CF;*/
      color:white;
	
	line-height: normal;
	font-family: Calibri, helvetica, sans-serif;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-xlarge a{
  font-size: 120%;
      color:white;
}

.btn-xlarge a:hover, .btn-xlarge a:focus, .btn-xlarge a:active {
  font-size: 120%;
    color:white;
    text-decoration:underline;
}



.jumbotron {    
	margin-bottom:1%;
	/*height: 350px;*/
    background-image: url(../images/home_team.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron p {
    color: #257ed3;
	margin-top:24%;
    font-size: 200%;
	font-weight: bold;
	font-family: Calibri, helvetica, sans-serif;
	line-height: 150%;
	display:block;
	background-color:white;
	opacity: 0.87;
	width: 108%;
	margin-left: -4%;	
	text-align: center;
}

.text-align-bottom {
	padding-top:6%;
	margin-bottom:3%;
}

.text-justify {
  text-align: justify;
}

.ppt-image img {
	display:inline-block;
    width: 100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}




