// User menu
//
// A "user menu" is secondary, hierarchical navigation.
//
// Markup: user-menu.twig
//
// Style guide: navigation.user-menu

.user-menu,
%user-menu {
	font-size: font-size(s);
	margin-right: 20px;

	.menu {
		padding: 0;
		margin: 0;

		.menu__item {
			display: inline-block;


			&:after {
				content: '|';
				display: inline-block;
				padding: 0 4px 0 8px;
				color: color(blue-dark);
			}
			
			&:last-child:after {
				content: '';
				padding: 0;
			}

			a {
				color: color(white);
				text-decoration: none;
			}
		}
	}
}
