.slide {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align:center;
	position:relative;
	//box-shadow: inset 0 10px 30px rgba(0,0,0,.5);
	min-height: calc(300px);
	box-sizing: border-box;
	background: color('aqua');
	padding: $large-spacing;
		

	
	img {
		max-width: 150px;
	}
	
	@include respond-to(m) {
		//min-height: calc(100vh - 143px);
		
		text-align: center;
			
		.limiter {
			display: flex;
			padding: 70px 0;	
		}
		
		.slide__caption {
		    flex-grow: 1;
		    width: 50%;
		    justify-content: center;
		    padding-top:20px;
		}
		
		.slide__image {
	    flex-grow: 1;		
			width: 50%;
			position:relative;

			@include respond-to(m){
				padding-right: $large-spacing;
			}
			
			img {
				max-width: 450px;	
				width: 100%;
				position: relative;
			}
		}		
	}		
}

.slide__caption {

	color: color(white);

	p {
		font-size: font-size(l);
		line-height: font-size(l);
		font-weight: normal;
	}
			
	.slide__heading {
		font-size: font-size(xxl);
		line-height: font-size(xxl);
		margin-bottom: 20px;
		font-weight: bold;
				
		@include respond-to(m) {
			font-size: font-size(xxl);
			line-height: font-size(xxl);
			margin-bottom: 50px;
		}

		@include respond-to(l) {
			font-size: font-size(xxxl);
			line-height: font-size(xxxl);
		}
	}
	
	.slide__button {
		border: 2px solid #fff;
		display: inline-block;
		text-transform: uppercase;
		color: #fff;
		padding: 10px 15px;
		text-decoration :none;
		font-weight: bold;
		background: rgba(0,0,0,0.5);
		
		@include respond-to(m) {
			padding: 20px 30px;
		}			
	}
}

.view-display-id-block_2 {
	.slide__caption {
		background: rgba(37,126,211,0.85);
		color: color(white);
		padding: 20px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		transform: translateX(0) translateY(0);
		top: auto;
		left: auto;
		min-height:300px;
		
		@include respond-to(m) {
			position: absolute;
			box-shadow: 0 0 30px rgba(0,0,0,.5);
			transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			top: 50%;
			left: 50%;			
			padding: 50px;
			width: 50%;
		}			
	}
}


