// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: tables-table.twig
//
// Weight: 1
//
// Style guide: base.table

table {
  // Add vertical rhythm margins.
  @include margin(1 0);
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
  width: 100%;
}

td,
th {
  // Remove most spacing between table cells.
  padding: $small-spacing;
  border:0px solid color(grey-light);
}

th {
	background: color(grey-light);
}

tr:nth-child(even) td {
	background: color(grey-extra-light);
}

tr:nth-child(odd) td {
	background: color(white);
}

.table-team-reviews tbody tr,
.table-ind-reviews tbody tr {
	display: none;
}

.table-team-reviews tbody tr:nth-child(-n+5),
.table-ind-reviews tbody tr:nth-child(-n+5) {
	display: table-row;
}

.table-team-reviews.show-all tbody tr,
.table-ind-reviews.show-all tbody tr {
	display: table-row;
}

/*! Tablesaw - v3.0.9 - 2018-02-14
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2018 Filament Group; Licensed MIT */

.tablesaw {
  width: 100%;
  max-width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  border: 0;
  padding: 0;
}

.tablesaw * {
  box-sizing: border-box;
}

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
  display: none;
}

.showing {
	border-top: 1px solid color(grey-extra-light);
	border-bottom: 1px solid color(grey-extra-light);
	padding: $small-spacing;
	margin-bottom: $large-spacing;
	font-size: font-size(s);
}

form table th {
	padding: 0 !important;
	text-align: center !important;
}

form table th.equal-width {
	width: 50px;
}

form table label {
	display: inline-block;
}

.table-team-reviews th,
.table-ind-reviews th {
	  background: color('aqua');
	  color: color(white);
}

/* Mobile first styles: Begin with the stacked presentation at narrow widths */

/* Support note IE9+: @media only all */

@media only all {
  /* Show the table cells as a block level element */

  .tablesaw-stack {
    clear: both;
  }

  .tablesaw-stack td,
  .tablesaw-stack th {
    text-align: left;
    display: block;
  }



  /* Make the label elements a percentage width */

  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: inline-block;
    padding: 0 .6em 0 0;
    width: 30%;
  }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */

  .tablesaw-stack th .tablesaw-cell-label-top,
  .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
  }

  .tablesaw-cell-label {
    display: block;
  }

  /* Avoid double strokes when stacked */

  .tablesaw-stack tbody th.group {
    margin-top: -1px;
  }

  /* Avoid double strokes when stacked */

  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important;
  }
}

@media (max-width: 39.9375em) {
  /* Table rows have a gray bottom stroke by default */

	.tablesaw-stack.table-questions {
		td .tablesaw-cell-label,
  	th .tablesaw-cell-label {
	    display: inline-block;
  	  padding: 0;
  	  width: auto;
  	  margin-left: $medium-spacing;
  	  font-weight: normal;
  	}
  	
  	input[type='checkbox'] {
  		position: relative;
  		bottom: -3px;
  		border:1px solid #f00;
  	}
  }

	.tablesaw-stack.table-questions td {
		text-align: center;
		padding: $medium-spacing 0;
		//background: none;
		border: 0;
	}

	.tablesaw-stack.table-questions td:first-of-type {
		font-weight: bold;
	}
	
  .tablesaw-stack tbody tr {
    //display: block;
    width: 100%;
    //border-bottom: 1px solid #dfdfdf;
    border: 0;
    background: none;
  }

  .tablesaw-stack tr {
    clear: both;
    display: table-row;
  }

	.tablesaw-stack.table-team-reviews tbody tr,
	.tablesaw-stack.table-ind-reviews tbody tr {
		display: none;
	}

	.tablesaw-stack.table-team-reviews tbody tr:nth-child(-n+5),
	.tablesaw-stack.table-ind-reviews tbody tr:nth-child(-n+5) {
		display: table-row;
	}

	.tablesaw-stack.show-all tbody tr,
	.tablesaw-stack.show-all tbody tr {
		display: table-row;
	}

  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: none;
   	
  }

  .tablesaw-stack tbody td,
  .tablesaw-stack tbody th {
    display: block;
    float: left;
    clear: left;
    width: 100%;
		border: 0;     
  }

	.tablesaw-stack td.review-type, .tablesaw-stack td.review-date {
		display:none;
	}
  .tablesaw-cell-label {
    vertical-align: top;
  }

  .tablesaw-cell-content {
    display: inline-block;
    max-width: 67%;
  }

  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .tablesaw-stack td:empty,
  .tablesaw-stack th:empty {
    display: none;
  }
}

/* Media query to show as a standard table at 560px (35em x 16px) or wider */

@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row;
  }

  /* Show the table header rows */

  .tablesaw-stack td,
  .tablesaw-stack th,
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: table-cell;
    margin: 0;
  }

  /* Hide the labels in each cell */

  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none !important;
  }
}
