.menu-toggle {
	position: absolute;
	right:20px;
	top:15px;
	font-size: font-size(xxl);
	color: color(grey-light);	
	transition: color 0.5s;
	
	@include zen-respond-to(m) {
		display: none;
	}
	
	&.open {
		color: color('aqua');	
		transition: color 0.5s;
	}
}

.off-canvas {
	width: 260px;
	position: fixed;
	left: -270px;
	top: 0;
	background: #fff;
	z-index:10000;
	min-height: 100%;
	padding: 20px;
	-webkit-transition: left 0.5s;
  transition: left 0.5s;
  border-right:1px solid color(grey-extra-light);	
  box-shadow: 0 0 10px rgba(0,0,0,.1);	
}

.off-canvas.open {
	left: 0px;
	-webkit-transition: left 0.5s;
  transition: left 0.5s;	
  
}

.off-canvas--close {
	position: absolute;
	right: $large-spacing;
	top: $large-spacing;
	
	&:after {
		content: '\f00d';
		position: absolute;
		right: 0px;
		top: 10px;
		transform: translateY(-50%) rotate(0deg);
		z-index: 10;
		font-family: FontAwesome;
		color: color(grey-extra-light);
		padding: $medium-spacing;		
		transition: opacity 0.5s, transform 0.5s, color 0.5s;
		font-size: font-size(xl);
		opacity: 1;
		transform-origin: center;
	}	
	
	&.open {
		&:after {
			opacity: 1;			
			transition: opacity 1.5s ease, color 0.5s;
			transform-origin: center;
			color: color('aqua');			
		}			
	}
}

.region-off-canvas .navbar {
	display: block;
	
	li {
		display: block;
		float: none;
		padding: 10px 0;

		a {
			font-size: font-size(s);
		}
	}
}
