@media screen and (min-width: 0) and (-webkit-min-device-pixel-ratio: 0.75), screen and (min-width: 0) and (min-resolution: 72dpi) {
  .front .slide .limiter {
    display: block;
  }
  .front .slide:after {
    content: '';
    display: block;
    clear: both;
    padding-bottom: 50px;
  }
  .front .slide__image {
    float: left;
    width: 600%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .front .slide__image {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .front .slide__caption {
    float: left;
    width: 600%;
    margin-left: 600%;
    margin-right: -100%;
  }
  [dir="rtl"] .front .slide__caption {
    float: right;
    margin-right: 600%;
    margin-left: -100%;
  }
  .no-flexbox .view-expert-guidance .view-content:after {
    content: '';
    display: block;
    clear: both;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row {
    padding: 0 10px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    min-height: 350px;
    height: auto !important;
    height: 350px;
    width: calc(25% - 20px);
    box-sizing: border-box;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row:nth-child(4n+4) {
    margin-right: 0;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row .views-row {
    padding: 0;
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-height: auto;
    width: auto;
  }
  ul.custom-tabs li {
    float: left;
  }
}

/*# sourceMappingURL=ie.css.map */
