@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
.domain-tal-net .above-header {
  border-top: 0px solid #1E0067;
}

@media (min-width: 777px) {
  .domain-tal-net .above-header {
    border-top: 10px solid #1E0067;
  }
}

.domain-tal-net a, .domain-tal-net a:visited {
  color: #1E0067;
}

.domain-tal-net .navbar a,
.domain-tal-net .navbar a:visited {
  color: #000;
}

.domain-tal-net .navbar li a.active, .domain-tal-net .main-navigation .links li a.active, .domain-tal-net .main-navigation .menu li a.active,
.domain-tal-net .navbar li a:hover, .domain-tal-net .main-navigation .links li a:hover, .domain-tal-net .main-navigation .menu li a:hover,
.domain-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-tal-net .menu-toggle.open,
.domain-tal-net .off-canvas--close.open:after {
  color: #1E0067;
}

.domain-tal-net .above-header__inner,
.domain-tal-net .slide,
.domain-tal-net .block__expert-guidance, .domain-tal-net .block__get-started,
.domain-tal-net .block--get-started-cta,
.domain-tal-net .box--review-set-up-ok,
.domain-tal-net .box, .domain-tal-net .box--review-set-up-ok {
  background: #1E0067;
}

.domain-tal-net .block--get-started-cta p a,
.domain-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-tal-net .button, .domain-tal-net button, .domain-tal-net [type='button'], .domain-tal-net [type='reset'], .domain-tal-net [type='submit'] {
  background: #1E0067 !important;
}

.domain-tal-net .button:focus, .domain-tal-net .button:active, .domain-tal-net button:focus, .domain-tal-net button:active, .domain-tal-net [type='button']:focus, .domain-tal-net [type='button']:active, .domain-tal-net [type='reset']:focus, .domain-tal-net [type='reset']:active, .domain-tal-net [type='submit']:focus, .domain-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-tal-net .button:hover, .domain-tal-net [type='button']:hover, .domain-tal-net [type='submit']:hover {
  background: #28008b !important;
  color: #fff;
}

.domain-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #1E0067 !important;
}

.domain-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #28008b !important;
}

.domain-tal-net .table-team-reviews th,
.domain-tal-net .table-ind-reviews th {
  background: #1E0067;
  color: #fff;
}

.domain-tal-net ul.custom-tabs li.tab-current {
  color: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .review-report-info a {
  color: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .icon-copy {
  background: #1E0067;
}

.domain-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #250081;
}

.domain-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #1E0067 !important;
}

.domain-phe-tal-net .above-header {
  border-top: 0px solid #00AF9F;
}

@media (min-width: 777px) {
  .domain-phe-tal-net .above-header {
    border-top: 10px solid #00AF9F;
  }
}

.domain-phe-tal-net a, .domain-phe-tal-net a:visited {
  color: #00AF9F;
}

.domain-phe-tal-net .navbar a,
.domain-phe-tal-net .navbar a:visited {
  color: #000;
}

.domain-phe-tal-net .navbar li a.active, .domain-phe-tal-net .main-navigation .links li a.active, .domain-phe-tal-net .main-navigation .menu li a.active,
.domain-phe-tal-net .navbar li a:hover, .domain-phe-tal-net .main-navigation .links li a:hover, .domain-phe-tal-net .main-navigation .menu li a:hover,
.domain-phe-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-phe-tal-net .menu-toggle.open,
.domain-phe-tal-net .off-canvas--close.open:after {
  color: #00AF9F;
}

.domain-phe-tal-net .above-header__inner,
.domain-phe-tal-net .slide,
.domain-phe-tal-net .block__expert-guidance, .domain-phe-tal-net .block__get-started,
.domain-phe-tal-net .block--get-started-cta,
.domain-phe-tal-net .box--review-set-up-ok,
.domain-phe-tal-net .box, .domain-phe-tal-net .box--review-set-up-ok {
  background: #00AF9F;
}

.domain-phe-tal-net .block--get-started-cta p a,
.domain-phe-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-phe-tal-net .button, .domain-phe-tal-net button, .domain-phe-tal-net [type='button'], .domain-phe-tal-net [type='reset'], .domain-phe-tal-net [type='submit'] {
  background: #00AF9F !important;
}

.domain-phe-tal-net .button:focus, .domain-phe-tal-net .button:active, .domain-phe-tal-net button:focus, .domain-phe-tal-net button:active, .domain-phe-tal-net [type='button']:focus, .domain-phe-tal-net [type='button']:active, .domain-phe-tal-net [type='reset']:focus, .domain-phe-tal-net [type='reset']:active, .domain-phe-tal-net [type='submit']:focus, .domain-phe-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-phe-tal-net .button:hover, .domain-phe-tal-net [type='button']:hover, .domain-phe-tal-net [type='submit']:hover {
  background: #00d3bf !important;
  color: #fff;
}

.domain-phe-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #00AF9F !important;
}

.domain-phe-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #00d3bf !important;
}

.domain-phe-tal-net .table-team-reviews th,
.domain-phe-tal-net .table-ind-reviews th {
  background: #00AF9F;
  color: #fff;
}

.domain-phe-tal-net ul.custom-tabs li.tab-current {
  color: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .review-report-info a {
  color: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .icon-copy {
  background: #00AF9F;
}

.domain-phe-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #00c9b6;
}

.domain-phe-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #00AF9F !important;
}

.domain-croydon-tal-net .above-header {
  border-top: 0px solid #880088;
}

@media (min-width: 777px) {
  .domain-croydon-tal-net .above-header {
    border-top: 10px solid #880088;
  }
}

.domain-croydon-tal-net a, .domain-croydon-tal-net a:visited {
  color: #880088;
}

.domain-croydon-tal-net .navbar a,
.domain-croydon-tal-net .navbar a:visited {
  color: #000;
}

.domain-croydon-tal-net .navbar li a.active, .domain-croydon-tal-net .main-navigation .links li a.active, .domain-croydon-tal-net .main-navigation .menu li a.active,
.domain-croydon-tal-net .navbar li a:hover, .domain-croydon-tal-net .main-navigation .links li a:hover, .domain-croydon-tal-net .main-navigation .menu li a:hover,
.domain-croydon-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-croydon-tal-net .menu-toggle.open,
.domain-croydon-tal-net .off-canvas--close.open:after {
  color: #880088;
}

.domain-croydon-tal-net .above-header__inner,
.domain-croydon-tal-net .slide,
.domain-croydon-tal-net .block__expert-guidance, .domain-croydon-tal-net .block__get-started,
.domain-croydon-tal-net .block--get-started-cta,
.domain-croydon-tal-net .box--review-set-up-ok,
.domain-croydon-tal-net .box, .domain-croydon-tal-net .box--review-set-up-ok {
  background: #880088;
}

.domain-croydon-tal-net .block--get-started-cta p a,
.domain-croydon-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-croydon-tal-net .button, .domain-croydon-tal-net button, .domain-croydon-tal-net [type='button'], .domain-croydon-tal-net [type='reset'], .domain-croydon-tal-net [type='submit'] {
  background: #880088 !important;
}

.domain-croydon-tal-net .button:focus, .domain-croydon-tal-net .button:active, .domain-croydon-tal-net button:focus, .domain-croydon-tal-net button:active, .domain-croydon-tal-net [type='button']:focus, .domain-croydon-tal-net [type='button']:active, .domain-croydon-tal-net [type='reset']:focus, .domain-croydon-tal-net [type='reset']:active, .domain-croydon-tal-net [type='submit']:focus, .domain-croydon-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-croydon-tal-net .button:hover, .domain-croydon-tal-net [type='button']:hover, .domain-croydon-tal-net [type='submit']:hover {
  background: #ac00ac !important;
  color: #fff;
}

.domain-croydon-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #880088 !important;
}

.domain-croydon-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #ac00ac !important;
}

.domain-croydon-tal-net .table-team-reviews th,
.domain-croydon-tal-net .table-ind-reviews th {
  background: #880088;
  color: #fff;
}

.domain-croydon-tal-net ul.custom-tabs li.tab-current {
  color: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .review-report-info a {
  color: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .icon-copy {
  background: #880088;
}

.domain-croydon-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #a200a2;
}

.domain-croydon-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #880088 !important;
}

.domain-croydon-tal-net .header__logo img {
  max-height: 35px !important;
}

@media (min-width: 777px) {
  .domain-croydon-tal-net .header__logo img {
    max-height: 70px !important;
  }
}

.domain-est-tal-net .above-header {
  border-top: 0px solid #CF0072;
}

@media (min-width: 777px) {
  .domain-est-tal-net .above-header {
    border-top: 10px solid #CF0072;
  }
}

.domain-est-tal-net a, .domain-est-tal-net a:visited {
  color: #CF0072;
}

.domain-est-tal-net .navbar a,
.domain-est-tal-net .navbar a:visited {
  color: #000;
}

.domain-est-tal-net .navbar li a.active, .domain-est-tal-net .main-navigation .links li a.active, .domain-est-tal-net .main-navigation .menu li a.active,
.domain-est-tal-net .navbar li a:hover, .domain-est-tal-net .main-navigation .links li a:hover, .domain-est-tal-net .main-navigation .menu li a:hover,
.domain-est-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-est-tal-net .menu-toggle.open,
.domain-est-tal-net .off-canvas--close.open:after {
  color: #CF0072;
}

.domain-est-tal-net .above-header__inner,
.domain-est-tal-net .slide,
.domain-est-tal-net .block__expert-guidance, .domain-est-tal-net .block__get-started,
.domain-est-tal-net .block--get-started-cta,
.domain-est-tal-net .box--review-set-up-ok,
.domain-est-tal-net .box, .domain-est-tal-net .box--review-set-up-ok {
  background: #CF0072;
}

.domain-est-tal-net .block--get-started-cta p a,
.domain-est-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-est-tal-net .button, .domain-est-tal-net button, .domain-est-tal-net [type='button'], .domain-est-tal-net [type='reset'], .domain-est-tal-net [type='submit'] {
  background: #CF0072 !important;
}

.domain-est-tal-net .button:focus, .domain-est-tal-net .button:active, .domain-est-tal-net button:focus, .domain-est-tal-net button:active, .domain-est-tal-net [type='button']:focus, .domain-est-tal-net [type='button']:active, .domain-est-tal-net [type='reset']:focus, .domain-est-tal-net [type='reset']:active, .domain-est-tal-net [type='submit']:focus, .domain-est-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-est-tal-net .button:hover, .domain-est-tal-net [type='button']:hover, .domain-est-tal-net [type='submit']:hover {
  background: #f30086 !important;
  color: #fff;
}

.domain-est-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #CF0072 !important;
}

.domain-est-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #f30086 !important;
}

.domain-est-tal-net .table-team-reviews th,
.domain-est-tal-net .table-ind-reviews th {
  background: #CF0072;
  color: #fff;
}

.domain-est-tal-net ul.custom-tabs li.tab-current {
  color: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .review-report-info a {
  color: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .icon-copy {
  background: #CF0072;
}

.domain-est-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #e90080;
}

.domain-est-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #CF0072 !important;
}

.domain-chp-tal-net .above-header {
  border-top: 0px solid #0056A3;
}

@media (min-width: 777px) {
  .domain-chp-tal-net .above-header {
    border-top: 10px solid #0056A3;
  }
}

.domain-chp-tal-net a, .domain-chp-tal-net a:visited {
  color: #0056A3;
}

.domain-chp-tal-net .navbar a,
.domain-chp-tal-net .navbar a:visited {
  color: #000;
}

.domain-chp-tal-net .navbar li a.active, .domain-chp-tal-net .main-navigation .links li a.active, .domain-chp-tal-net .main-navigation .menu li a.active,
.domain-chp-tal-net .navbar li a:hover, .domain-chp-tal-net .main-navigation .links li a:hover, .domain-chp-tal-net .main-navigation .menu li a:hover,
.domain-chp-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-chp-tal-net .menu-toggle.open,
.domain-chp-tal-net .off-canvas--close.open:after {
  color: #0056A3;
}

.domain-chp-tal-net .above-header__inner,
.domain-chp-tal-net .slide,
.domain-chp-tal-net .block__expert-guidance, .domain-chp-tal-net .block__get-started,
.domain-chp-tal-net .block--get-started-cta,
.domain-chp-tal-net .box--review-set-up-ok,
.domain-chp-tal-net .box, .domain-chp-tal-net .box--review-set-up-ok {
  background: #0056A3;
}

.domain-chp-tal-net .block--get-started-cta p a,
.domain-chp-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-chp-tal-net .button, .domain-chp-tal-net button, .domain-chp-tal-net [type='button'], .domain-chp-tal-net [type='reset'], .domain-chp-tal-net [type='submit'] {
  background: #0056A3 !important;
}

.domain-chp-tal-net .button:focus, .domain-chp-tal-net .button:active, .domain-chp-tal-net button:focus, .domain-chp-tal-net button:active, .domain-chp-tal-net [type='button']:focus, .domain-chp-tal-net [type='button']:active, .domain-chp-tal-net [type='reset']:focus, .domain-chp-tal-net [type='reset']:active, .domain-chp-tal-net [type='submit']:focus, .domain-chp-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-chp-tal-net .button:hover, .domain-chp-tal-net [type='button']:hover, .domain-chp-tal-net [type='submit']:hover {
  background: #0069c7 !important;
  color: #fff;
}

.domain-chp-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #0056A3 !important;
}

.domain-chp-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #0069c7 !important;
}

.domain-chp-tal-net .table-team-reviews th,
.domain-chp-tal-net .table-ind-reviews th {
  background: #0056A3;
  color: #fff;
}

.domain-chp-tal-net ul.custom-tabs li.tab-current {
  color: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .review-report-info a {
  color: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .icon-copy {
  background: #0056A3;
}

.domain-chp-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #0063bd;
}

.domain-chp-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #0056A3 !important;
}

.domain-redcross-tal-net .above-header {
  border-top: 0px solid #D0021B;
}

@media (min-width: 777px) {
  .domain-redcross-tal-net .above-header {
    border-top: 10px solid #D0021B;
  }
}

.domain-redcross-tal-net a, .domain-redcross-tal-net a:visited {
  color: #D0021B;
}

.domain-redcross-tal-net .navbar a,
.domain-redcross-tal-net .navbar a:visited {
  color: #000;
}

.domain-redcross-tal-net .navbar li a.active, .domain-redcross-tal-net .main-navigation .links li a.active, .domain-redcross-tal-net .main-navigation .menu li a.active,
.domain-redcross-tal-net .navbar li a:hover, .domain-redcross-tal-net .main-navigation .links li a:hover, .domain-redcross-tal-net .main-navigation .menu li a:hover,
.domain-redcross-tal-net .view-expert-guidance .views-row.open .expert-guidance--header:after,
.domain-redcross-tal-net .menu-toggle.open,
.domain-redcross-tal-net .off-canvas--close.open:after {
  color: #D0021B;
}

.domain-redcross-tal-net .above-header__inner,
.domain-redcross-tal-net .slide,
.domain-redcross-tal-net .block__expert-guidance, .domain-redcross-tal-net .block__get-started,
.domain-redcross-tal-net .block--get-started-cta,
.domain-redcross-tal-net .box--review-set-up-ok,
.domain-redcross-tal-net .box, .domain-redcross-tal-net .box--review-set-up-ok {
  background: #D0021B;
}

.domain-redcross-tal-net .block--get-started-cta p a,
.domain-redcross-tal-net .slide__caption .slide__button {
  color: #fff;
}

.domain-redcross-tal-net .button, .domain-redcross-tal-net button, .domain-redcross-tal-net [type='button'], .domain-redcross-tal-net [type='reset'], .domain-redcross-tal-net [type='submit'] {
  background: #D0021B !important;
}

.domain-redcross-tal-net .button:focus, .domain-redcross-tal-net .button:active, .domain-redcross-tal-net button:focus, .domain-redcross-tal-net button:active, .domain-redcross-tal-net [type='button']:focus, .domain-redcross-tal-net [type='button']:active, .domain-redcross-tal-net [type='reset']:focus, .domain-redcross-tal-net [type='reset']:active, .domain-redcross-tal-net [type='submit']:focus, .domain-redcross-tal-net [type='submit']:active {
  color: #f2f2f2;
}

.domain-redcross-tal-net .button:hover, .domain-redcross-tal-net [type='button']:hover, .domain-redcross-tal-net [type='submit']:hover {
  background: #f30220 !important;
  color: #fff;
}

.domain-redcross-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title {
  background: #D0021B !important;
}

.domain-redcross-tal-net .view-basic-page-basic-elements .field-name-field-para-basic-title:hover {
  background: #f30220 !important;
}

.domain-redcross-tal-net .table-team-reviews th,
.domain-redcross-tal-net .table-ind-reviews th {
  background: #D0021B;
  color: #fff;
}

.domain-redcross-tal-net ul.custom-tabs li.tab-current {
  color: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .review-report-info a {
  color: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .icon-copy {
  background: #D0021B;
}

.domain-redcross-tal-net .box--review-set-up-ok .divider {
  border-bottom: 1px solid #e9021e;
}

.domain-redcross-tal-net .field-name-field-para-basic-copy p:last-child span {
  color: #D0021B !important;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Nunito Sans", "Arial Narrow", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

@media print {
  html {
    font-size: 12pt;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

body.rs main {
  padding: 0 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  color: #1E0067;
  -webkit-text-decoration-skip: objects;
}

:visited {
  color: #0f0034;
}

a:active {
  color: #3c00cd;
}

a:active:not(.button) {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1,
.header__site-name {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3,
.call-out h3,
.field-name-field-para-basic-callout h3 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.625rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.front h1,
.node-type-homepage h1 {
  display: none;
}

.front h2 {
  font-size: 2rem;
}

.field-name-field-home-intro-copy {
  text-align: center;
  padding: 0;
}

@media (min-width: 777px) {
  .field-name-field-home-intro-copy {
    padding: 50px 0;
  }
}

.field-name-field-home-intro-copy p {
  font-size: 1.25rem;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: inherit;
}

strong,
b {
  font-weight: bolder;
}

pre,
code,
kbd,
samp,
var {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #fd0;
  color: #333;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.625rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

.divider,
hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

.divider > :first-child, hr > :first-child {
  margin-top: 1.5rem;
}

blockquote {
  margin: 1.5rem 2rem;
}

dl,
menu,
ol,
ul {
  margin: 1.5rem 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 32px;
}

[dir="rtl"] dd {
  margin: 0 32px 0 0;
}

menu,
ol,
ul {
  padding: 0 0 0 32px;
}

[dir="rtl"] menu, [dir="rtl"]
ol, [dir="rtl"]
ul {
  padding: 0 32px 0 0;
}

figure {
  margin: 1.5rem 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p,
pre {
  margin: 1.5rem 0;
}

img {
  border-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  max-width: 100%;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  overflow: visible;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button, [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.button,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title,
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -moz-appearance: button;
  -webkit-appearance: button;
}

.button,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  display: inline-block;
  padding: 2px 6px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  border: 0px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  background: #1E0067;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.button::-moz-focus-inner,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title::-moz-focus-inner,
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.button:-moz-focusring,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title:-moz-focusring,
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button:hover, .button:focus, .button:active,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title:hover,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title:focus,
.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title:active,
button:hover,
button:focus,
button:active,
[type='button']:hover,
[type='button']:focus,
[type='button']:active,
[type='reset']:hover,
[type='reset']:focus,
[type='reset']:active,
[type='submit']:hover,
[type='submit']:focus,
[type='submit']:active {
  text-decoration: none;
  color: #333;
}

[disabled].button, .view-basic-page-basic-elements .paragraphs-item-basic-elements [disabled].field-name-field-para-basic-title,
button[disabled],
[disabled][type='button'],
[disabled][type='reset'],
[disabled][type='submit'] {
  cursor: default;
  color: #999999;
}

[disabled].button:hover, .view-basic-page-basic-elements .paragraphs-item-basic-elements [disabled].field-name-field-para-basic-title:hover,
button[disabled]:hover,
[disabled][type='button']:hover,
[disabled][type='reset']:hover,
[disabled][type='submit']:hover, [disabled].button:focus, .view-basic-page-basic-elements .paragraphs-item-basic-elements [disabled].field-name-field-para-basic-title:focus,
button[disabled]:focus,
[disabled][type='button']:focus,
[disabled][type='reset']:focus,
[disabled][type='submit']:focus, [disabled].button:active, .view-basic-page-basic-elements .paragraphs-item-basic-elements [disabled].field-name-field-para-basic-title:active,
button[disabled]:active,
[disabled][type='button']:active,
[disabled][type='reset']:active,
[disabled][type='submit']:active {
  color: #999999;
}

[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'] {
  padding: 5px;
  border: 2px solid #f2f2f2;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  padding: 0.525rem 0.9375rem 0.975rem;
  border: 1px solid #cccccc;
  margin: 0 2px;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  margin-left: -5px;
  padding: 0 5px;
}

label {
  display: block;
  font-weight: bold;
}

optgroup {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 5px;
  border: 0px solid #cccccc;
}

th {
  background: #cccccc;
}

tr:nth-child(even) td {
  background: #f2f2f2;
}

tr:nth-child(odd) td {
  background: #fff;
}

.table-team-reviews tbody tr,
.table-ind-reviews tbody tr {
  display: none;
}

.table-team-reviews tbody tr:nth-child(-n+5),
.table-ind-reviews tbody tr:nth-child(-n+5) {
  display: table-row;
}

.table-team-reviews.show-all tbody tr,
.table-ind-reviews.show-all tbody tr {
  display: table-row;
}

/*! Tablesaw - v3.0.9 - 2018-02-14
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2018 Filament Group; Licensed MIT */
.tablesaw {
  width: 100%;
  max-width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  border: 0;
  padding: 0;
}

.tablesaw * {
  box-sizing: border-box;
}

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
  display: none;
}

.showing {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 0.875rem;
}

form table th {
  padding: 0 !important;
  text-align: center !important;
}

form table th.equal-width {
  width: 50px;
}

form table label {
  display: inline-block;
}

.table-team-reviews th,
.table-ind-reviews th {
  background: #1E0067;
  color: #fff;
}

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
/* Support note IE9+: @media only all */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack {
    clear: both;
  }
  .tablesaw-stack td,
  .tablesaw-stack th {
    text-align: left;
    display: block;
  }
  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: inline-block;
    padding: 0 .6em 0 0;
    width: 30%;
  }
  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top,
  .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
  }
  .tablesaw-cell-label {
    display: block;
  }
  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px;
  }
  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important;
  }
}

@media (max-width: 39.9375em) {
  /* Table rows have a gray bottom stroke by default */
  .tablesaw-stack.table-questions td .tablesaw-cell-label,
  .tablesaw-stack.table-questions th .tablesaw-cell-label {
    display: inline-block;
    padding: 0;
    width: auto;
    margin-left: 10px;
    font-weight: normal;
  }
  .tablesaw-stack.table-questions input[type='checkbox'] {
    position: relative;
    bottom: -3px;
    border: 1px solid #f00;
  }
  .tablesaw-stack.table-questions td {
    text-align: center;
    padding: 10px 0;
    border: 0;
  }
  .tablesaw-stack.table-questions td:first-of-type {
    font-weight: bold;
  }
  .tablesaw-stack tbody tr {
    width: 100%;
    border: 0;
    background: none;
  }
  .tablesaw-stack tr {
    clear: both;
    display: table-row;
  }
  .tablesaw-stack.table-team-reviews tbody tr,
  .tablesaw-stack.table-ind-reviews tbody tr {
    display: none;
  }
  .tablesaw-stack.table-team-reviews tbody tr:nth-child(-n+5),
  .tablesaw-stack.table-ind-reviews tbody tr:nth-child(-n+5) {
    display: table-row;
  }
  .tablesaw-stack.show-all tbody tr,
  .tablesaw-stack.show-all tbody tr {
    display: table-row;
  }
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: none;
  }
  .tablesaw-stack tbody td,
  .tablesaw-stack tbody th {
    display: block;
    float: left;
    clear: left;
    width: 100%;
    border: 0;
  }
  .tablesaw-stack td.review-type, .tablesaw-stack td.review-date {
    display: none;
  }
  .tablesaw-cell-label {
    vertical-align: top;
  }
  .tablesaw-cell-content {
    display: inline-block;
    max-width: 67%;
  }
  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
  .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .tablesaw-stack td:empty,
  .tablesaw-stack th:empty {
    display: none;
  }
}

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row;
  }
  /* Show the table header rows */
  .tablesaw-stack td,
  .tablesaw-stack th,
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: table-cell;
    margin: 0;
  }
  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none !important;
  }
}

.layout-3col {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.layout-3col:before {
  content: "";
  display: table;
}

.layout-3col:after {
  content: "";
  display: table;
  clear: both;
}

.layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar, .layout-3col__col-1, .layout-3col__col-2, .layout-3col__col-3, .layout-3col__col-4, .layout-3col__col-x {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  margin: 0;
  background: #fff;
}

[dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x {
  float: right;
  margin-right: 0%;
  margin-left: -100%;
}

@media (min-width: 777px) {
  .layout-3col {
    margin-left: -12px;
    margin-right: -13px;
    padding-left: 0;
    padding-right: 0;
  }
  .layout-3col:before {
    content: "";
    display: table;
  }
  .layout-3col:after {
    content: "";
    display: table;
    clear: both;
  }
  [dir="rtl"] .layout-3col {
    margin-left: -13px;
    margin-right: -12px;
  }
  .layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 13px;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar {
    padding-left: 13px;
    padding-right: 12px;
  }
  .layout-3col__first-left-sidebar, .layout-3col__col-1, .layout-3col__col-3, .layout-3col__col-x:nth-child(2n + 1) {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 13px;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(2n + 1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(2n + 1) {
    padding-left: 13px;
    padding-right: 12px;
  }
  .layout-3col__second-left-sidebar, .layout-3col__col-2, .layout-3col__col-4, .layout-3col__col-x:nth-child(2n) {
    clear: none;
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 13px;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x:nth-child(2n) {
    float: right;
    margin-right: 50%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x:nth-child(2n) {
    padding-left: 13px;
    padding-right: 12px;
  }
}

@media (min-width: 999px) {
  .layout-3col__full {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__full {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__left-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__left-content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__right-content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__right-content {
    float: right;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  .layout-3col__left-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    float: left;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
  .layout-3col__right-sidebar {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
  .layout-3col__col-1, .layout-3col__col-x:nth-child(3n+1) {
    clear: both;
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -100%;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-x:nth-child(3n+1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__col-2, .layout-3col__col-x:nth-child(3n+2) {
    clear: none;
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -100%;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-x:nth-child(3n+2) {
    float: right;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  .layout-3col__col-3, .layout-3col__col-x:nth-child(3n) {
    clear: none;
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    margin: 0;
  }
  [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(3n) {
    float: right;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  .layout-3col__col-4 {
    display: none;
  }
}

.layout-3col__grid-item-container {
  padding-left: 0;
  padding-right: 0;
}

.layout-3col__grid-item-container:before {
  content: "";
  display: table;
}

.layout-3col__grid-item-container:after {
  content: "";
  display: table;
  clear: both;
}

.layout-3col .layout-3col {
  margin: 0;
}

.layout-center {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

@media (min-width: 777px) {
  .layout-center {
    padding-left: 12px;
    padding-right: 13px;
  }
  [dir="rtl"] .layout-center {
    padding-left: 13px;
    padding-right: 12px;
  }
}

.layout-center--shared-grid,
.layout-center.layout-3col {
  padding-left: 0;
  padding-right: 0;
}

.layout-swap {
  position: relative;
}

.layout-swap__top {
  display: none;
}

@media (min-width: 555px) {
  .layout-swap__top {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
  }
}

.box,
.box--review-set-up-ok,
.call-out,
.field-name-field-para-basic-callout {
  margin-bottom: 1.5rem;
  border: 0px solid #cccccc;
  padding: 2em;
  background: #1E0067;
  color: #fff;
}

.box__title {
  margin: 0;
  color: #fff;
}

.box__title a {
  color: #fff !important;
}

.box__title:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 10px;
  color: #fff;
}

.box:focus, .box:hover, .box.is-focus, .box--is-focus,
.box--review-set-up-ok:focus,
.call-out:focus,
.field-name-field-para-basic-callout:focus,
.box--review-set-up-ok:hover,
.call-out:hover,
.field-name-field-para-basic-callout:hover,
.is-focus.box--review-set-up-ok,
.is-focus.call-out,
.is-focus.field-name-field-para-basic-callout {
  border-color: #333;
}

.box--highlight {
  border-color: #1E0067;
}

.box--review-set-up-ok {
  background: #1E0067;
  color: #fff;
  margin-bottom: 0;
}

.box--review-set-up-ok h2 {
  margin-top: 0;
}

.box--review-set-up-ok a,
.box--review-set-up-ok a:visited {
  color: #fff;
}

.box--review-set-up-ok input {
  width: 100%;
  box-sizing: border-box;
  border: 0px solid #fff;
  padding: 10px;
  padding-left: 150px;
  background: #fff;
}

.box--review-set-up-ok .review-for {
  font-weight: bold;
}

.box--review-set-up-ok .review-title {
  text-transform: uppercase;
}

.box--review-set-up-ok .review-type {
  padding-bottom: 20px;
}

.box--review-set-up-ok .divider {
  border-bottom: 1px solid #270086;
  border-top: 0;
  clear: both;
}

.box--review-set-up-ok .icon-copy {
  border: 2px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 15px 8px 7px;
  text-decoration: none;
  font-weight: bold;
  background: #1E0067;
}

.box--review-set-up-ok .icon-link, .box--review-set-up-ok .icon-copy {
  margin-right: 10px;
}

.box--review-set-up-ok .icon-warn {
  clear: both;
}

.box--review-set-up-ok .review-report-info {
  display: none;
}

@media (min-width: 555px) {
  .box--review-set-up-ok .review-report-info {
    display: block;
    font-size: 0.875rem;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    color: #333;
    text-align: center;
  }
  .box--review-set-up-ok .review-report-info a {
    color: #1E0067;
  }
  .box--review-set-up-ok .review-report-info .icon-pdf {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
  }
}

.clearfix:before,
.header:before,
.tabs:before {
  content: '';
  display: table;
}

.clearfix:after,
.header:after,
.tabs:after {
  content: '';
  display: table;
  clear: both;
}

.call-out,
.field-name-field-para-basic-callout {
  background: #fcf9ed;
  border: 0px solid #b4931d;
  color: #b4931d;
}

.next-steps {
  background: #f2f2f2;
  padding: 2em;
}

.next-steps p {
  margin-bottom: 5px;
  margin-top: 0;
}

.next-steps p:first-child {
  margin-bottom: 20px;
}

.next-steps ul {
  margin-top: 10px;
}

.next-steps li {
  margin-bottom: 5px;
}

.note {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note p {
  margin-bottom: 5px;
  margin-top: 0;
}

.limiter {
  max-width: 1180px;
  margin: 0 auto;
  float: none;
  position: relative;
  box-sizing: border-box;
  clear: both;
}

.comment__section,
.comments {
  margin: 1.5rem 0;
}

.comment__title {
  margin: 0;
}

.comment__permalink {
  text-transform: uppercase;
  font-size: 75%;
}

.comment--preview,
.comment-preview {
  background-color: #fffadb;
}

.comment--nested,
.indented {
  margin-left: 32px;
}

[dir="rtl"] .comment--nested,
[dir="rtl"] .indented {
  margin-left: 0;
  margin-right: 32px;
}

.flexbox .grid, .flexbox .view-expert-guidance .view-content,
.flexbox .paragraphs-items-field-basic-content-block .field-items, .paragraphs-items-field-basic-content-block
.flexbox .field-items {
  display: flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  flex-basis: auto;
  padding: 0px 0px 0px 20px;
}

@media (min-width: 777px) {
  .flexbox .grid, .flexbox .view-expert-guidance .view-content,
  .flexbox .paragraphs-items-field-basic-content-block .field-items, .paragraphs-items-field-basic-content-block
  .flexbox .field-items {
    padding: 20px 20px 0 0;
  }
}

.flexbox .grid .grid-item,
.flexbox .grid .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block .field-items
.flexbox .grid .field-item, .flexbox .view-expert-guidance .view-content .grid-item,
.flexbox .paragraphs-items-field-basic-content-block .field-items .grid-item, .paragraphs-items-field-basic-content-block
.flexbox .field-items .grid-item, .paragraphs-items-field-basic-content-block .field-items .flexbox .view-expert-guidance .view-content .field-item,
.flexbox .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block
.flexbox .field-items .field-item {
  flex-grow: 1;
  width: 100%;
}

.flexbox .grid .grid-item img,
.flexbox .grid .paragraphs-items-field-basic-content-block .field-items .field-item img, .paragraphs-items-field-basic-content-block .field-items
.flexbox .grid .field-item img, .flexbox .view-expert-guidance .view-content .grid-item img,
.flexbox .paragraphs-items-field-basic-content-block .field-items .grid-item img, .paragraphs-items-field-basic-content-block
.flexbox .field-items .grid-item img, .paragraphs-items-field-basic-content-block .field-items .flexbox .view-expert-guidance .view-content .field-item img,
.flexbox .paragraphs-items-field-basic-content-block .field-items .field-item img, .paragraphs-items-field-basic-content-block
.flexbox .field-items .field-item img {
  width: 35px;
}

@media (min-width: 777px) {
  .flexbox .grid .grid-item,
  .flexbox .grid .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block .field-items
  .flexbox .grid .field-item, .flexbox .view-expert-guidance .view-content .grid-item,
  .flexbox .paragraphs-items-field-basic-content-block .field-items .grid-item, .paragraphs-items-field-basic-content-block
  .flexbox .field-items .grid-item, .paragraphs-items-field-basic-content-block .field-items .flexbox .view-expert-guidance .view-content .field-item,
  .flexbox .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block
  .flexbox .field-items .field-item {
    padding-left: 12px;
    padding-right: 13px;
    flex-grow: 1;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
  }
  [dir="rtl"] .flexbox .grid .grid-item, [dir="rtl"]
  .flexbox .grid .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block .field-items [dir="rtl"]
  .flexbox .grid .field-item, [dir="rtl"] .flexbox .view-expert-guidance .view-content .grid-item, [dir="rtl"]
  .flexbox .paragraphs-items-field-basic-content-block .field-items .grid-item, .paragraphs-items-field-basic-content-block [dir="rtl"]
  .flexbox .field-items .grid-item, .paragraphs-items-field-basic-content-block .field-items [dir="rtl"] .flexbox .view-expert-guidance .view-content .field-item, [dir="rtl"]
  .flexbox .paragraphs-items-field-basic-content-block .field-items .field-item, .paragraphs-items-field-basic-content-block [dir="rtl"]
  .flexbox .field-items .field-item {
    padding-left: 13px;
    padding-right: 12px;
  }
  .flexbox .grid .grid-item img,
  .flexbox .grid .paragraphs-items-field-basic-content-block .field-items .field-item img, .paragraphs-items-field-basic-content-block .field-items
  .flexbox .grid .field-item img, .flexbox .view-expert-guidance .view-content .grid-item img,
  .flexbox .paragraphs-items-field-basic-content-block .field-items .grid-item img, .paragraphs-items-field-basic-content-block
  .flexbox .field-items .grid-item img, .paragraphs-items-field-basic-content-block .field-items .flexbox .view-expert-guidance .view-content .field-item img,
  .flexbox .paragraphs-items-field-basic-content-block .field-items .field-item img, .paragraphs-items-field-basic-content-block
  .flexbox .field-items .field-item img {
    width: 100%;
  }
}

body {
  padding-top: 44px;
}

@media (min-width: 777px) {
  body {
    padding-top: 0px;
  }
}

#admin-menu {
  display: none;
}

@media (min-width: 777px) {
  #admin-menu {
    display: block;
  }
}

.above-header {
  border-top: 0px solid #1E0067;
}

@media (min-width: 777px) {
  .above-header {
    border-top: 10px solid #1E0067;
  }
}

@media (min-width: 777px) {
  .above-header .region-above-header {
    display: flex;
  }
}

.above-header .region-above-header .form-actions {
  padding-bottom: 0;
}

.above-header__inner {
  display: none;
  position: relative;
  width: 100%;
  background: #1E0067;
  border-radius: 0;
  padding: 10px;
}

@media (min-width: 777px) {
  .above-header__inner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px 4px 10px;
    width: auto;
    z-index: 200;
    border-radius: 0 0 3px 3px;
  }
}

.above-header .block__search .form-item {
  margin: 0;
  float: left;
  margin-right: 10px;
}

.above-header .block__search .form-actions {
  float: left;
}

.above-header .block__search input[type="text"] {
  border: 0;
  background: #fff;
  padding: 0 4px;
  font-size: 0.875rem;
}

.above-header .block__search .custom-search-button {
  width: 20px;
}

.header {
  background: #fff;
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 777px) {
  .header {
    position: relative;
    border-top: 0px solid #257ed3;
    min-height: 140px;
  }
}

.header .limiter {
  overflow: hidden;
}

.header .header__logo {
  -ms-transform: translateY(0%);
      transform: translateY(0%);
  padding: 10px;
}

.header .header__logo img {
  max-height: 45px;
}

@media (min-width: 777px) {
  .header .header__logo {
    -ms-transform: translateY(20%);
        transform: translateY(20%);
  }
  .header .header__logo img {
    max-height: 100px;
  }
}

.header a {
  color: #000;
}

.header__logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

@media (min-width: 777px) {
  .header__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

[dir="rtl"] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__name-and-slogan {
  float: left;
}

.header__site-name {
  margin: 0;
}

.header__site-link:link, .header__site-link:visited {
  color: #333;
  text-decoration: none;
}

.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
}

.header__secondary-menu {
  float: right;
}

[dir="rtl"] .header__secondary-menu {
  float: left;
}

.header__region {
  clear: both;
}

.rs .header .header__logo {
  -ms-transform: translateY(0);
      transform: translateY(0);
}

.footer {
  background: #f2f2f2;
  padding: 40px;
}

.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
  display: none;
}

.highlight-mark,
.new,
.update {
  color: #c00;
  background-color: transparent;
}

.paragraphs-items-field-basic-content-block .field-items {
  padding: 0px 0px 0px 0px;
}

@media (min-width: 777px) {
  .paragraphs-items-field-basic-content-block .field-items {
    padding: 0px 0px 0px 20px;
  }
}

.paragraphs-items-field-basic-content-block .field-items h3 {
  margin: 0 auto;
  line-height: 1.25rem;
  max-width: 250px;
}

.paragraphs-items-field-basic-content-block .field-items .field-item {
  text-align: center;
  width: calc(100%);
  margin-bottom: 40px;
}

@media (min-width: 777px) {
  .paragraphs-items-field-basic-content-block .field-items .field-item {
    width: calc(33.333% - 20px);
  }
}

.paragraphs-items-field-basic-content-block .field-items .field-item img {
  max-width: 100px;
}

.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-image,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-copy,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-title {
  margin-bottom: 10px;
}

.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-image .field-items,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-copy .field-items,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-title .field-items {
  margin: 0;
  padding: 0;
}

.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-image .field-item,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-copy .field-item,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-title .field-item {
  margin: 0 !important;
  padding: 0;
}

.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-image .field-item p,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-copy .field-item p,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-title .field-item p {
  margin: 0;
}

.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-image:after,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-copy:after,
.paragraphs-items-field-basic-content-block .field-items .field-item .field-name-field-para-basic-title:after {
  clear: both;
  display: block;
  content: '';
}

.paragraphs-items-field-home-blocks-2 .field-items .field-item .paragraphs-item-homepage-elements {
  clear: both;
  margin-bottom: 20px;
}

.paragraphs-items-field-home-blocks-2 .field-items .field-item .paragraphs-item-homepage-elements:after {
  content: '';
  display: block;
  clear: both;
}

.paragraphs-items-field-home-blocks-2 .field-items .field-item .paragraphs-item-homepage-elements .field-name-field-para-home-image {
  max-width: 70px;
  float: left;
  margin-right: 20px;
}

.field-name-field-para-home-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.field-name-field-para-home-sub-heading {
  font-weight: bold;
}

.full__back--blue {
  background: #e3effa;
  padding: 10px 25px 50px 25px;
}

@media (min-width: 777px) {
  .full__back--blue {
    padding: 50px 0;
  }
}

.full__back--blue .block__title {
  text-align: center;
  padding: 20px 0;
}

.block__expert-guidance,
.block__get-started {
  background: #1E0067;
}

.node__expert-guidance main,
.node__get-started main {
  display: none;
}

.view-basic-page-basic-elements .views-field-field-basic-content-block .field-content {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  margin: 0;
}

.view-basic-page-basic-elements .views-field-field-basic-content-block .field-content:before {
  content: "";
  display: table;
}

.view-basic-page-basic-elements .views-field-field-basic-content-block .field-content:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 777px) {
  .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(2) {
    float: right;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(3) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
  [dir="rtl"] .view-basic-page-basic-elements .paragraphs-item-basic-elements-wrapper:nth-child(3) {
    float: right;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements {
  background: #fff;
  text-align: center;
  margin: 10px 10px;
  padding: 20px;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements h3, .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title {
  text-align: center;
  display: block;
  float: none;
  margin-top: 0;
  font-size: 15px;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background: #1E0067;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title:hover {
  background: #28008b;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy {
  clear: both;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy p {
  display: none;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy p:first-child {
  font-weight: bold;
  display: block;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy p:last-child {
  display: block;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy p:last-child span {
  color: #1E0067;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements img {
  float: none;
  margin: 0;
  max-width: 55px;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-image {
  float: none;
}

.view-basic-page-basic-elements .paragraphs-item-basic-elements ul {
  display: none;
}

@media (min-width: 444px) {
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy {
    text-align: left;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-image {
    float: right;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements h3 {
    float: left;
  }
}

@media (min-width: 555px) {
  .view-basic-page-basic-elements .paragraphs-item-basic-elements h3, .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 777px) {
  .view-basic-page-basic-elements .paragraphs-item-basic-elements {
    margin: 20px 10px;
    min-height: 850px;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements img {
    float: none;
    margin: 0;
    max-width: 130px;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements ul {
    display: block;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-image {
    float: none;
    margin-right: 0;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements h3, .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title {
    text-align: center;
    display: block;
    float: none;
    margin-top: 10px;
    font-size: 1.5rem;
    clear: both;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-title {
    font-size: 0.875rem;
    display: inline-block;
    padding: 10px 20px;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy {
    text-align: left;
    clear: both;
  }
  .view-basic-page-basic-elements .paragraphs-item-basic-elements .field-name-field-para-basic-copy p {
    display: block;
  }
}

@media (min-width: 777px) {
  .view-expert-guidance {
    margin-bottom: 0;
  }
}

.view-expert-guidance .views-row {
  background: #fff;
}

.view-expert-guidance .views-row .view-overview-topics {
  clear: both;
  display: none;
  background: #fff;
}

.view-expert-guidance .views-row .view-overview-topics .views-row {
  background: #fff;
}

.view-expert-guidance .views-row .view-overview-topics .views-row:after {
  content: '';
}

.view-expert-guidance .views-row.open .view-overview-topics {
  display: block;
}

.view-expert-guidance .views-row.open .expert-guidance--header:after {
  color: #1E0067;
  content: '\f068';
}

.view-expert-guidance .views-row .expert-guidance--header {
  padding: 10px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.view-expert-guidance .views-row .expert-guidance--header:after {
  content: '\f067';
  position: absolute;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  z-index: 10;
  font-family: FontAwesome;
  color: #cccccc;
}

.view-expert-guidance .views-row .expert-guidance--header h3 {
  display: block;
  float: left;
  margin: 0;
}

.view-expert-guidance .views-row .expert-guidance--header img {
  float: left;
  margin-right: 10px;
}

@media (min-width: 777px) {
  .view-expert-guidance .views-row {
    text-align: center;
    padding: 20px;
  }
  .view-expert-guidance .views-row.open .expert-guidance--header:after {
    content: '';
  }
  .view-expert-guidance .views-row .expert-guidance--header {
    background: none;
  }
  .view-expert-guidance .views-row .expert-guidance--header:after {
    content: '';
  }
  .view-expert-guidance .views-row .expert-guidance--header h3 {
    text-align: center;
    display: block;
    float: none;
  }
  .view-expert-guidance .views-row .expert-guidance--header img {
    float: none;
    margin: 0;
    max-width: 130px;
  }
  .view-expert-guidance .views-row .view-overview-topics {
    display: block;
  }
  .view-expert-guidance .views-row .view-overview-topics .view-content {
    padding-top: 0;
    padding-right: 0;
  }
  .view-expert-guidance .views-row .view-overview-topics .item-list {
    width: 100%;
  }
  .view-expert-guidance .views-row .view-overview-topics ul {
    margin: 0;
    padding: 0;
  }
  .view-expert-guidance .views-row .view-overview-topics li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: 777px) and (min-width: 777px) {
  .view-expert-guidance .views-row .view-overview-topics li {
    border-bottom: 1px dotted #cccccc;
  }
}

@media (min-width: 777px) {
  .view-expert-guidance .views-row .view-overview-topics a {
    color: #333;
    text-decoration: none;
  }
}

@media (min-width: 777px) {
  .paragraphs-items-field-home-blocks-1 .field-items .field-item {
    width: 33%;
  }
}

.block--get-started-cta {
  text-align: center;
  background: #1E0067;
  padding: 20px;
}

.block--get-started-cta p a {
  display: inline-block;
  padding: 20px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.icon-pdf:before {
  content: '\f1c1';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-add {
  text-decoration: none;
}

.icon-add:before {
  content: '\f055';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-copy {
  display: inline-block;
  position: absolute;
}

.icon-copy:before {
  content: '\f0c5';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-warn:before {
  content: '\f071';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-link:before {
  content: '\f0c1';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-question:before {
  content: '\f059';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-sample-report:before {
  content: '\f15c';
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.icon-vpoor:before {
  content: '\f119  \f119';
  display: inline;
  font-family: FontAwesome;
  color: #c00;
  font-size: 1.25rem;
  margin-right: 5px;
  font-weight: normal;
}

.icon-poor:before {
  content: '\f119';
  display: inline;
  font-family: FontAwesome;
  color: #ea9c00;
  font-size: 1.25rem;
  margin-right: 5px;
  font-weight: normal;
}

.icon-ok:before {
  content: '\f11a';
  display: inline;
  font-family: FontAwesome;
  color: #000;
  font-size: 1.25rem;
  margin-right: 5px;
  font-weight: normal;
}

.icon-good:before {
  content: '\f118';
  display: inline;
  font-family: FontAwesome;
  color: #257ed3;
  font-size: 1.25rem;
  margin-right: 5px;
  font-weight: normal;
}

.icon-vgood:before {
  content: '\f118  \f118';
  display: inline;
  font-family: FontAwesome;
  color: #489f4c;
  font-size: 1.25rem;
  margin-right: 5px;
  font-weight: normal;
}

th .icon-vgood:before,
th .icon-good:before,
th .icon-poor:before,
th .icon-vpoor:before,
th .icon-ok:before {
  color: #000;
  font-weight: normal;
  font-size: 1.25rem;
}

td .icon-vgood:before,
td .icon-good:before,
td .icon-poor:before,
td .icon-vpoor:before,
td .icon-ok:before {
  padding: 0 5px;
  font-size: 1.5rem;
}

@media (min-width: 555px) {
  td .icon-vgood:before,
  td .icon-good:before,
  td .icon-poor:before,
  td .icon-vpoor:before,
  td .icon-ok:before {
    font-size: 2rem;
    padding: 0 5px;
  }
}

@media (min-width: 666px) {
  td .icon-vgood:before,
  td .icon-good:before,
  td .icon-poor:before,
  td .icon-vpoor:before,
  td .icon-ok:before {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

.radio_item {
  display: none !important;
}

.label_item {
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.25s;
}

.radio_item:checked + label {
  opacity: 1 !important;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.radio_item + label:hover {
  opacity: 0.5;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.1s;
}

.inline-links,
.inline.links {
  padding: 0;
}

.inline-links__item,
.inline.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

[dir="rtl"] .inline-links__item,
[dir="rtl"] .inline.links li,
.inline.links [dir="rtl"] li {
  display: inline-block;
  padding: 0 0 0 1em;
}

.inline-sibling,
.field-label-inline .field-label,
span.field-label {
  display: inline;
  margin-right: 10px;
}

[dir="rtl"] .inline-sibling,
[dir="rtl"] .field-label-inline .field-label,
.field-label-inline [dir="rtl"] .field-label,
[dir="rtl"] span.field-label {
  margin-right: 0;
  margin-left: 10px;
}

.inline-sibling__child,
.inline-sibling *, .field-label-inline .field-label *, span.field-label * {
  display: inline;
}

.inline-sibling__adjacent,
.inline-sibling + *,
.inline-sibling + * > :first-child,
.inline-sibling + * > :first-child > :first-child, .field-label-inline .field-label + *, span.field-label + *, .field-label-inline .field-label + * > :first-child, span.field-label + * > :first-child, .field-label-inline .field-label + * > :first-child > :first-child, span.field-label + * > :first-child > :first-child {
  display: inline;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: none;
}

.messages,
.messages--status {
  margin: 1.5rem 0;
  position: relative;
  padding: 10px 10px 10px 44px;
  border: 1px solid #257ed3;
}

[dir="rtl"] .messages,
[dir="rtl"] .messages--status {
  padding: 10px 44px 10px 10px;
  background-position: 99% 8px;
}

.messages__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  line-height: 1;
}

[dir="rtl"] .messages__icon {
  left: auto;
  right: 0;
}

.messages__icon path {
  fill: #257ed3;
}

.messages__highlight,
.messages--error .error,
.messages.error .error {
  color: #333;
}

.messages__list {
  margin: 0;
}

.messages__item {
  list-style-image: none;
}

.messages--ok-color,
.messages,
.messages--status,
.ok,
.revision-current {
  background-color: white;
  color: #257ed3;
}

.messages--warning-color,
.messages--warning,
.messages.warning,
.warning {
  background-color: #fffce6;
  color: #333;
}

.messages--error-color,
.messages--error,
.messages.error,
.error {
  background-color: #fff0f0;
  color: #c00;
}

.messages--warning,
.messages.warning {
  border-color: #fd0;
}

.messages--warning path, .messages.warning path {
  fill: #fd0;
}

.messages--error,
.messages.error {
  border-color: #c00;
}

.messages--error path, .messages.error path {
  fill: #c00;
}

@media print {
  .print-none,
  .toolbar,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .feed-icons {
    display: none;
  }
}

.responsive-video,
.media-youtube-video,
.media-vimeo-preview-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.responsive-video__embed,
.responsive-video iframe,
.media-youtube-video iframe,
.media-vimeo-preview-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video--4-3 {
  padding-bottom: 75%;
}

.slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  min-height: calc(300px);
  box-sizing: border-box;
  background: #1E0067;
  padding: 20px;
}

.slide img {
  max-width: 150px;
}

@media (min-width: 777px) {
  .slide {
    text-align: center;
  }
  .slide .limiter {
    display: flex;
    padding: 70px 0;
  }
  .slide .slide__caption {
    flex-grow: 1;
    width: 50%;
    justify-content: center;
    padding-top: 20px;
  }
  .slide .slide__image {
    flex-grow: 1;
    width: 50%;
    position: relative;
  }
}

@media (min-width: 777px) and (min-width: 777px) {
  .slide .slide__image {
    padding-right: 20px;
  }
}

@media (min-width: 777px) {
  .slide .slide__image img {
    max-width: 450px;
    width: 100%;
    position: relative;
  }
}

.slide__caption {
  color: #fff;
}

.slide__caption p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: normal;
}

.slide__caption .slide__heading {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (min-width: 777px) {
  .slide__caption .slide__heading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 50px;
  }
}

@media (min-width: 888px) {
  .slide__caption .slide__heading {
    font-size: 3.625rem;
    line-height: 3.625rem;
  }
}

.slide__caption .slide__button {
  border: 2px solid #fff;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 777px) {
  .slide__caption .slide__button {
    padding: 20px 30px;
  }
}

.view-display-id-block_2 .slide__caption {
  background: rgba(37, 126, 211, 0.85);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  -ms-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
  top: auto;
  left: auto;
  min-height: 300px;
}

@media (min-width: 777px) {
  .view-display-id-block_2 .slide__caption {
    position: absolute;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    padding: 50px;
    width: 50%;
  }
}

.visually-hidden,
.element-invisible,
.element-focusable,
.breadcrumb__title,
.main-navigation .block-menu .block__title,
.main-navigation .block-menu-block .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

.visually-hidden--off,
.visually-hidden--focusable:active,
.visually-hidden--focusable:focus,
.element-focusable:active,
.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
}

.watermark {
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  height: 0;
  overflow: visible;
  background-color: transparent;
  color: #f2f2f2;
  font-size: 75px;
  line-height: 1;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.breadcrumb {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}

@media print {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb__list {
  margin: 0;
  padding: 0;
}

.breadcrumb__item {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.node-type-homepage .breadcrumb {
  display: none;
}

#backtotop {
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  border-radius: 0;
  font-size: 13px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
}

#backtotop:hover {
  background: rgba(0, 0, 0, 0.5);
}

.more-link,
.more-help-link {
  text-align: right;
}

[dir="rtl"] .more-link,
[dir="rtl"] .more-help-link {
  text-align: left;
}

.more-link__help-icon,
.more-help-link a {
  padding: 1px 0 1px 20px;
  background-image: url(../sass/navigation/more-link/more-link__help-icon.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}

[dir="rtl"] .more-link__help-icon,
[dir="rtl"] .more-help-link a,
.more-help-link [dir="rtl"] a {
  padding: 1px 20px 1px 0;
  background-position: 100% 50%;
}

.nav-menu__item,
.menu__item {
  list-style-image: url(../sass/navigation/nav-menu/leaf.svg);
  list-style-type: square;
}

.nav-menu__item.is-expanded, .nav-menu__item--is-expanded,
.is-expanded.menu__item,
.menu__item.is-expanded {
  list-style-image: url(../sass/navigation/nav-menu/expanded.svg);
  list-style-type: circle;
}

.nav-menu__item.is-collapsed, .nav-menu__item--is-collapsed,
.is-collapsed.menu__item,
.menu__item.is-collapsed {
  list-style-image: url(../sass/navigation/nav-menu/collapsed.svg);
  list-style-type: disc;
}

[dir="rtl"] .nav-menu__item.is-collapsed, [dir="rtl"] .nav-menu__item--is-collapsed,
[dir="rtl"] .is-collapsed.menu__item,
[dir="rtl"] .menu__item.is-collapsed {
  list-style-image: url(../sass/navigation/nav-menu/collapsed-rtl.svg);
}

.nav-menu__link.is-active, .nav-menu__link--is-active,
.menu a.active {
  color: #333;
}

.navbar,
.main-navigation .links,
.main-navigation .menu {
  display: none;
}

@media (min-width: 777px) {
  .navbar,
  .main-navigation .links,
  .main-navigation .menu {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    float: right;
    margin-bottom: 20px;
  }
}

[dir="rtl"] .navbar,
[dir="rtl"] .main-navigation .links,
.main-navigation [dir="rtl"] .links,
[dir="rtl"]
.main-navigation .menu,
.main-navigation [dir="rtl"] .menu {
  text-align: right;
}

.navbar__item,
.navbar li, .main-navigation .links li,
.main-navigation .menu li {
  float: left;
  padding: 0 30px 0 0;
  list-style-type: none;
  list-style-image: none;
}

.navbar__item:last-child,
.navbar li:last-child, .main-navigation .links li:last-child,
.main-navigation .menu li:last-child {
  padding: 0;
}

[dir="rtl"] .navbar__item, [dir="rtl"]
.navbar li, [dir="rtl"] .main-navigation .links li, .main-navigation [dir="rtl"] .links li, [dir="rtl"]
.main-navigation .menu li,
.main-navigation [dir="rtl"] .menu li {
  float: right;
  padding: 0 0 0 10px;
}

.navbar__item a,
.navbar li a, .main-navigation .links li a,
.main-navigation .menu li a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875rem;
}

.navbar__item a:hover,
.navbar li a:hover, .main-navigation .links li a:hover,
.main-navigation .menu li a:hover {
  color: #1E0067;
}

.navbar__item a.active,
.navbar li a.active, .main-navigation .links li a.active,
.main-navigation .menu li a.active {
  color: #1E0067;
}

.menu-toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 2rem;
  color: #cccccc;
  transition: color 0.5s;
}

@media (min-width: 777px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle.open {
  color: #1E0067;
  transition: color 0.5s;
}

.off-canvas {
  width: 260px;
  position: fixed;
  left: -270px;
  top: 0;
  background: #fff;
  z-index: 10000;
  min-height: 100%;
  padding: 20px;
  transition: left 0.5s;
  border-right: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.off-canvas.open {
  left: 0px;
  transition: left 0.5s;
}

.off-canvas--close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.off-canvas--close:after {
  content: '\f00d';
  position: absolute;
  right: 0px;
  top: 10px;
  -ms-transform: translateY(-50%) rotate(0deg);
      transform: translateY(-50%) rotate(0deg);
  z-index: 10;
  font-family: FontAwesome;
  color: #f2f2f2;
  padding: 10px;
  transition: opacity 0.5s, transform 0.5s, color 0.5s;
  font-size: 1.5rem;
  opacity: 1;
  -ms-transform-origin: center;
      transform-origin: center;
}

.off-canvas--close.open:after {
  opacity: 1;
  transition: opacity 1.5s ease, color 0.5s;
  -ms-transform-origin: center;
      transform-origin: center;
  color: #1E0067;
}

.region-off-canvas .navbar {
  display: block;
}

.region-off-canvas .navbar li {
  display: block;
  float: none;
  padding: 10px 0;
}

.region-off-canvas .navbar li a {
  font-size: 0.875rem;
}

.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

@media print {
  .pager {
    display: none;
  }
}

.pager__item,
.pager__current-item,
.pager-current,
.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  background-image: none;
}

.pager__current-item,
.pager-current {
  font-weight: bold;
}

.skip-link {
  display: block;
  padding: 2px 0 3px;
  text-align: center;
}

.skip-link:link, .skip-link:visited {
  background-color: #666666;
  color: #fff;
}

.skip-link__wrapper {
  margin: 0;
}

@media print {
  .skip-link__wrapper {
    display: none;
  }
}

.tabs {
  margin: 1.125rem 0 0;
  line-height: 1.875rem;
  border-bottom: 1px solid #cccccc \0/ie;
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
  padding: 0 2px;
  margin-bottom: 10px;
  list-style: none;
  white-space: nowrap;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs__tab {
  float: left;
  margin: 0 3px;
  border: 1px solid #cccccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-color: transparent;
  border-bottom: 0 \0/ie;
  overflow: hidden;
  background: #dddddd;
}

[dir="rtl"] .tabs__tab {
  float: right;
}

.tabs__tab.is-active {
  border-bottom-color: #fff;
}

.tabs__tab-link {
  padding: 0 1.5rem;
  display: block;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
  text-shadow: #fff 0 1px 0;
  color: #333;
  background: #dddddd;
  letter-spacing: 1px;
}

.tabs__tab-link:focus, .tabs__tab-link:hover {
  background: #eaeaea;
}

.tabs__tab-link:active, .tabs__tab-link.is-active, .tabs__tab-link--is-active {
  background: #fff;
  text-shadow: none;
}

.tabs--off,
.views-displays .secondary {
  margin: 0;
  border-bottom: 0;
  padding: 0;
  background-image: none;
}

.tabs--secondary {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  background-image: none;
}

.tabs + .tabs--secondary {
  margin-top: 0;
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
}

.tabs--secondary .tabs__tab {
  margin: 0.5625rem 0.1875rem;
  border: 0;
  background: transparent;
}

[dir="rtl"] .tabs--secondary .tabs__tab {
  float: right;
}

.tabs--secondary .tabs__tab.is-active {
  border-bottom-color: transparent;
}

.tabs--secondary .tabs__tab-link {
  border: 1px solid #cccccc;
  border-radius: 24px;
  color: #666666;
  background: #f1f1f1;
  letter-spacing: normal;
}

.tabs--secondary .tabs__tab-link:focus, .tabs--secondary .tabs__tab-link:hover {
  color: #333333;
  background: #dddddd;
  border-color: #999999;
}

.tabs--secondary .tabs__tab-link:active, .tabs--secondary .tabs__tab-link.is-active, .tabs--secondary .tabs__tab-link--is-active {
  color: white;
  text-shadow: #333333 0 1px 0;
  background: #666666;
  border-color: black;
}

ul.custom-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 777px) {
  ul.custom-tabs {
    align-items: stretch;
    justify-content: center;
  }
}

ul.custom-tabs li {
  background: #f2f2f2;
  width: 100%;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  clear: both;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
  padding: 10px;
  align-items: center;
  display: flex;
}

ul.custom-tabs li img {
  max-width: 35px;
  height: auto;
  margin-right: 10px;
  float: left;
  box-sizing: border-box;
  border-radius: 50%;
}

ul.custom-tabs li.tab-current {
  background: #fff;
  color: #1E0067;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #f2f2f2;
  transition: background 0.5s, color 0.5s;
}

@media (min-width: 777px) {
  ul.custom-tabs li {
    text-align: center;
    width: 33.333%;
    clear: none;
    padding: 20px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
  ul.custom-tabs li div {
    display: block;
  }
  ul.custom-tabs li img {
    max-width: 50px;
    height: auto;
    float: none;
    margin-right: 0;
  }
  ul.custom-tabs li.tab-current {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #f2f2f2;
  }
}

@media (min-width: 777px) {
  ul.custom-tabs.two-tabs li {
    width: 50%;
  }
}

.tab-content {
  display: none;
}

.tab-content.tab-current {
  display: inherit;
}

.user-menu {
  font-size: 0.875rem;
  margin-right: 20px;
}

.user-menu .menu {
  padding: 0;
  margin: 0;
}

.user-menu .menu .menu__item {
  display: inline-block;
}

.user-menu .menu .menu__item:after {
  content: '|';
  display: inline-block;
  padding: 0 4px 0 8px;
  color: #1d64a8;
}

.user-menu .menu .menu__item:last-child:after {
  content: '';
  padding: 0;
}

.user-menu .menu .menu__item a {
  color: #fff;
  text-decoration: none;
}

.autocomplete,
.form-autocomplete {
  background-image: url(../sass/forms/autocomplete/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}

[dir="rtl"] .autocomplete,
[dir="rtl"] .form-autocomplete {
  background-position: 0% center;
}

.autocomplete__list-wrapper,
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.autocomplete__list,
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.autocomplete__list-item,
#autocomplete li {
  background: #fff;
  color: #333;
  cursor: default;
  white-space: pre;
}

.autocomplete__list-item.is-selected, .autocomplete__list-item--is-selected,
#autocomplete li.is-selected,
#autocomplete .selected {
  background: #257ed3;
  color: #fff;
}

.autocomplete.is-throbbing, .autocomplete--is-throbbing,
.is-throbbing.form-autocomplete,
.form-autocomplete.throbbing {
  background-image: url(../sass/forms/autocomplete/throbber-active.gif);
}

.collapsible-fieldset,
.collapsible {
  position: relative;
}

.collapsible-fieldset__legend,
.collapsible .fieldset-legend {
  display: block;
  padding-left: 15px;
  background-image: url(../sass/forms/collapsible-fieldset/expanded.svg);
  background-position: 4px 50%;
  background-repeat: no-repeat;
}

[dir="rtl"] .collapsible-fieldset__legend,
[dir="rtl"] .collapsible .fieldset-legend,
.collapsible [dir="rtl"] .fieldset-legend {
  padding-left: 0;
  padding-right: 15px;
  background-position: right 4px top 50%;
}

.collapsible-fieldset__summary,
.collapsible .fieldset-legend .summary {
  color: #999999;
  font-size: .9em;
  margin-left: .5em;
}

.collapsible-fieldset.is-collapsed, .collapsible-fieldset--is-collapsed,
.is-collapsed.collapsible,
.collapsible.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__wrapper, .collapsible-fieldset--is-collapsed__wrapper, .is-collapsed.collapsible .collapsible-fieldset__wrapper,
.collapsible.collapsed .fieldset-wrapper {
  display: none;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, .collapsible-fieldset--is-collapsed__legend, .is-collapsed.collapsible .collapsible-fieldset__legend,
.collapsible.collapsed .fieldset-legend,
.collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible .collapsible-fieldset.is-collapsed .fieldset-legend,
.is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/forms/collapsible-fieldset/collapsed.svg);
  background-position: 4px 50%;
}

[dir="rtl"] .collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, [dir="rtl"] .collapsible-fieldset--is-collapsed__legend, [dir="rtl"] .is-collapsed.collapsible .collapsible-fieldset__legend,
[dir="rtl"] .collapsible.collapsed .fieldset-legend,
.collapsible.collapsed [dir="rtl"] .fieldset-legend,
[dir="rtl"] .collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible [dir="rtl"] .collapsible-fieldset.is-collapsed .fieldset-legend,
[dir="rtl"] .is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/forms/collapsible-fieldset/collapsed-rtl.svg);
  background-position: right 4px top 50%;
}

.form-item {
  margin: 1.5rem 0;
}

.form-item__required,
.form-required {
  color: #c00;
}

.form-item__description,
.form-item .description {
  font-size: 0.875rem;
}

.form-item--inline div,
.form-item--inline label, .container-inline .form-item div, .container-inline .form-item label {
  display: inline;
}

.form-item--inline__exception,
.container-inline .fieldset-wrapper {
  display: block;
}

.form-item--tight,
.form-item--radio,
.form-type-radio,
.form-type-checkbox,
.password-parent,
.confirm-parent,
table .form-item {
  margin: 0;
}

.form-item--radio .form-item__label, .form-item--radio__label, .form-type-radio .form-item__label,
.form-type-checkbox .form-item__label,
label.option {
  display: inline;
  font-weight: normal;
}

.form-item--radio .form-item__description, .form-item--radio__description, .form-type-radio .form-item__description,
.form-type-checkbox .form-item__description,
.form-type-radio .description,
.form-type-checkbox .description,
.form-item--radio .form-item .description,
.form-item .form-item--radio .description,
.form-type-radio .form-item .description,
.form-item .form-type-radio .description,
.form-type-checkbox .form-item .description,
.form-item
.form-type-checkbox .description {
  margin-left: 1.4em;
}

.form-item.is-error .form-item__widget, .form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-actions {
  padding-bottom: 20px;
}

.form-table__sticky-header,
.sticky-header {
  position: fixed;
  visibility: hidden;
  margin-top: 0;
  background-color: #fff;
}

.form-table__sticky-header.is-sticky, .form-table__sticky-header--is-sticky,
.is-sticky.sticky-header {
  visibility: visible;
}

.form-table__header,
.form-table th,
form table th {
  border-bottom: 3px solid #cccccc;
  padding-right: 1em;
  text-align: left;
}

[dir="rtl"] .form-table__header,
[dir="rtl"] .form-table th,
.form-table [dir="rtl"] th,
[dir="rtl"] form table th,
form table [dir="rtl"] th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

.form-table__body,
.form-table tbody,
form table tbody {
  border-top: 1px solid #cccccc;
}

.form-table__row,
.form-table tbody tr,
form table tbody tr {
  padding: .1em .6em;
  border-bottom: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.form-table__row:nth-child(even),
.form-table tbody tr:nth-child(even),
form table tbody tr:nth-child(even) {
  background-color: #fff;
}

.form-table__row.is-active, .form-table__row--is-active,
.form-table tbody tr.is-active,
form table tbody tr.is-active,
td.active {
  background-color: #e1e1e1;
}

.form-table__row.is-disabled, .form-table__row--is-disabled,
.form-table tbody tr.is-disabled,
form table tbody tr.is-disabled,
td.menu-disabled {
  background: #cccccc;
}

.form-table__row.is-selected, .form-table__row--is-selected,
.form-table tbody tr.is-selected,
form table tbody tr.is-selected,
tr.selected td {
  background: #fffdf0;
}

.form-table__list,
.form-table ul,
form table ul {
  margin: 0;
}

.form-table__narrow-column,
.form-table th.form-table__narrow-column,
form table th.form-table__narrow-column,
td .checkbox,
th .checkbox {
  width: -moz-min-content;
  width: -webkit-min-content;
  text-align: center;
}

.progress-bar,
.progress {
  font-weight: bold;
}

.progress-bar__bar,
.progress .bar {
  border-radius: 3px;
  margin: 0 .2em;
  border: 1px solid #666666;
  background-color: #cccccc;
}

.progress-bar__fill,
.progress .filled {
  height: 1.5em;
  width: 5px;
  background: #257ed3 url(../sass/forms/progress-bar/progress-bar.gif) repeat 0 0;
}

.progress-bar__percentage,
.progress .percentage {
  float: right;
}

[dir="rtl"] .progress-bar__percentage,
[dir="rtl"] .progress .percentage,
.progress [dir="rtl"] .percentage {
  float: left;
}

.progress-bar--inline,
.ajax-progress-bar {
  width: 16em;
  display: inline-block;
}

[dir="rtl"] .progress-bar--inline,
[dir="rtl"] .ajax-progress-bar {
  float: right;
}

.progress-throbber,
.ajax-progress {
  display: inline-block;
}

[dir="rtl"] .progress-throbber,
[dir="rtl"] .ajax-progress {
  float: right;
}

.progress-throbber__widget,
.ajax-progress .throbber {
  background: url(../sass/forms/progress-throbber/progress-throbber.gif) no-repeat 0 -18px transparent;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}

[dir="rtl"] .progress-throbber__widget,
[dir="rtl"] .ajax-progress .throbber,
.ajax-progress [dir="rtl"] .throbber {
  float: right;
}

.progress-throbber__widget-in-tr,
tr .ajax-progress .throbber {
  margin: 0 2px;
}

.progress-throbber__message,
.ajax-progress .message {
  padding-left: 20px;
}

.resizable-textarea,
.resizable-textarea textarea {
  width: 100%;
  vertical-align: bottom;
}

.resizable-textarea__grippie,
.resizable-textarea .grippie {
  background: url(../sass/forms/resizable-textarea/grippie.png) no-repeat center 2px #f2f2f2;
  border: 1px solid #cccccc;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

.table-drag__wrapper,
body.drag {
  cursor: move;
}

.table-drag__item,
tr.drag {
  background-color: #fffadb;
}

.table-drag__item-previous,
tr.drag-previous {
  background-color: #fff7c2;
}

.table-drag__handle,
.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
  font-size: 12px;
}

[dir="rtl"] .table-drag__handle,
[dir="rtl"] .tabledrag-handle {
  float: right;
  margin-right: -1em;
  margin-left: 0;
}

.table-drag__handle:focus, .table-drag__handle:hover,
.tabledrag-handle:focus,
.tabledrag-handle:hover {
  text-decoration: none;
}

.table-drag__handle-icon,
.tabledrag-handle .handle {
  box-sizing: content-box;
  background: url(../sass/forms/table-drag/handle-icon.png) no-repeat 6px 9px;
  height: 13px;
  margin: -.4em .5em;
  padding: .42em .5em;
  width: 13px;
}

.table-drag__handle.is-hover .table-drag__handle-icon, .table-drag__handle-icon--is-hover, .is-hover.tabledrag-handle .table-drag__handle-icon,
.tabledrag-handle-hover .handle,
.table-drag__handle.is-hover .tabledrag-handle .handle,
.tabledrag-handle .table-drag__handle.is-hover .handle,
.is-hover.tabledrag-handle .handle {
  background-position: 6px -11px;
}

.table-drag__toggle-weight-wrapper,
.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

[dir="rtl"] .table-drag__toggle-weight-wrapper,
[dir="rtl"] .tabledrag-toggle-weight-wrapper {
  text-align: left;
}

.table-drag__toggle-weight,
.tabledrag-toggle-weight {
  font-size: .9em;
}

.table-drag__indentation,
.indentation {
  float: left;
  height: 1.7em;
  margin: -.4em .2em -.4em -.4em;
  padding: .42em 0 .42em .6em;
  width: 20px;
}

[dir="rtl"] .table-drag__indentation,
[dir="rtl"] .indentation {
  float: right;
  margin: -.4em -.4em -.4em .2em;
  padding: .42em .6em .42em 0;
}

.table-drag__tree-child,
.table-drag__tree-child-last,
.tree-child-last,
.table-drag__tree-child-horizontal,
.tree-child-horizontal,
.tree-child {
  background: url(../sass/forms/table-drag/tree-child.png) no-repeat 11px center;
}

[dir="rtl"] .table-drag__tree-child,
[dir="rtl"] .table-drag__tree-child-last,
[dir="rtl"] .tree-child-last,
[dir="rtl"] .table-drag__tree-child-horizontal,
[dir="rtl"] .tree-child-horizontal,
[dir="rtl"] .tree-child {
  background-position: -65px center;
}

.table-drag__tree-child-last,
.tree-child-last {
  background-image: url(../sass/forms/table-drag/tree-child-last.png);
}

.table-drag__tree-child-horizontal,
.tree-child-horizontal {
  background-position: -11px center;
}

@media screen and (min-width: 0) and (-webkit-min-device-pixel-ratio: 0.75), screen and (min-width: 0) and (min-resolution: 72dpi) {
  .front .slide .limiter {
    display: block;
  }
  .front .slide:after {
    content: '';
    display: block;
    clear: both;
    padding-bottom: 50px;
  }
  .front .slide__image {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .front .slide__image {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .front .slide__caption {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
  [dir="rtl"] .front .slide__caption {
    float: right;
    margin-right: 50%;
    margin-left: -100%;
  }
  .no-flexbox .view-expert-guidance .view-content:after {
    content: '';
    display: block;
    clear: both;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row {
    padding: 0 10px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    min-height: 350px;
    height: auto !important;
    height: 350px;
    width: calc(25% - 20px);
    box-sizing: border-box;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row:nth-child(4n+4) {
    margin-right: 0;
  }
  .no-flexbox .view-expert-guidance .view-content .views-row .views-row {
    padding: 0;
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-height: auto;
    width: auto;
  }
  ul.custom-tabs li {
    float: left;
  }
}

/*# sourceMappingURL=styles.css.map */
