// Grid
//
// A simple grid style.
//
// :hover - The hover/focus styling.
//
// Markup: grid.twig
//
// Style guide: components.grid

.flexbox {
  .grid,
  %grid {
	  display: flex;
	  display: -ms-flexbox;
	  flex-flow: row wrap;
	  flex-basis: auto;
	  padding: 0px 0px 0px 20px;

	  @include zen-respond-to(m) {
		  padding: 20px 20px 0 0;
	  }
	  
	  .grid-item,
	  %grid-item {
			  flex-grow: 1;
			  width: 100%;
			   
			  img {
				  width: 35px;
			  }		
	  }	

	  @include zen-respond-to(m) {

		  .grid-item,
		  %grid-item {
				  @include zen-apply-gutter-padding();
				  flex-grow: 1;
				  width: calc(25% - 20px);
				  margin-bottom: 20px;
				  margin-left:20px;

				  img {
					  width: 100%;
				  }		
		  }
		  
	  }
  }

  .view-expert-guidance .view-content {
	  @extend %grid;
	  //padding-top: 0;
  }
}


