<div class="grid {{modifier_class}}">
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>
	<div class="grid-item">
		<img src="http://via.placeholder.com/350x150" />
		<div class="grid-item--heading">Heading</div>
		<div class="grid-item--sub-heading">Sub heading</div>
		<div class="grid-item--description">Description</div>
	</div>											
</div>
