@media screen and (min-width:0) and (min-resolution:+72dpi) {

  @import 'zen-grids';
  @import 'breakpoint';

  @import 'init/colors';
  @import 'init/variables';

  .radio_item {
    //display:inline !important;
  }
  .front {

    .slide {
      
      .limiter {
        display:block;
      }
      
      &:after {
        content:'';
        display:block;
        clear:both;
        padding-bottom:50px;
      }
      
    }
    $zen-columns: 12 !global;
    .slide__image {
      @include zen-grid-item(6,1);    
    } 
    .slide__caption {

      @include zen-grid-item(6,7); 
    }
  } 

  .no-flexbox {

	    //@include zen-respond-to(m) {
        
		    .view-expert-guidance {
		      .view-content {
            
            $zen-columns: 12 !global;
            //background:#fff;
            
            &:after {
              content: '';
              display: block;
              clear: both;
            }
                    
            .views-row {
              
              padding: 0 10px;
              float: left;
              margin-right: 10px;
              margin-left: 10px;            
              margin-bottom: 10px;
              margin-top:20px;
              min-height:350px;
              height: auto !important;              
              height:350px;
              width: calc(25% - 20px);     
              box-sizing:border-box;      
                       
              &:nth-child(4n+4) {
                margin-right: 0;
              } 
                           
              .views-row {
                padding:0;
                float: none;
                margin-right: 0;
                margin-bottom: 0; 
                margin-top: 0;  
                min-height:auto;  
                width: auto;                     
              }            
            }

   
            
		      }
        }
	  //}

    .view-expert-guidance .view-content {
	    //@extend %grid;
	    //padding-top: 0;
    } 
  }

  ul.custom-tabs {

	  li {
	    float:left;
	  }
	  
  }

}
