// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

body {
	padding-top: 44px;
}

@include respond-to(m) {
	body {
		padding-top: 0px;
	}
}

#admin-menu {
	display:none;
}

@include respond-to(m) {
	#admin-menu {
		display:block;
	}
}

.above-header {
	border-top: 0px solid color('aqua');
	
	@include respond-to(m) {
		border-top: 10px solid color('aqua');
	}
			
	.region-above-header {
		
		@include respond-to(m) {
			display: flex;
		}
		
		.form-actions	{
			padding-bottom: 0;
		}
	}

	&__inner {
		display:none;
		position:relative;
		width:100%;	
		background: color('aqua');
		border-radius:0;
		padding: 10px;
		
		@include respond-to(m) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 10px 4px 10px;
			width: auto;
			z-index: 200;
			border-radius: 0 0 3px 3px;
			//box-shadow: inset 0 -2px 0px color(blue-dark);
		}	

	}
	

		
	.block__search {
		
		
		
		//@include respond-to(m) {

			.form-item {
				margin: 0;
				float: left;
				margin-right: 10px;
			}

			.form-actions {
				float: left;			
			}

			input[type="text"] {
				border: 0;
				background: color(white);
				padding: 0 4px;
				font-size: font-size(s);
				//border-radius: 2px;
			}

			.custom-search-button {
				width: 20px;
			}
		//}
	}	
}

.header,
%header {
  @extend %clearfix;
	background: color(white);
	background: color(grey-extra-light);	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	//border-top: 6px solid color(blue);

	
	@include respond-to(m) {  
		position: relative;
		border-top: 0px solid color(blue);
		min-height: 140px;
	}

	.limiter {
		overflow: hidden;
	}
	
	.header__logo {
		
		transform: translateY(0%);
		padding: 10px;
		
		img {
			max-height: 45px;
		}
		
		@include respond-to(m) {  
			//max-width: 130px;
			transform: translateY(20%);
			img {
				max-height: 100px;
			}			
		}
	}
	a {
		color: #000;
	}
  // Wrapping link for logo.
  &__logo {
  
	  float: left;
	  margin: 0 10px 0 0;
	  padding: 0;
	  
		@include respond-to(m) {  
  
		  float: left;
		  margin: 0 10px 0 0;
		  padding: 0;
		}

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}

.rs {
	 .header {
		.header__logo {
			transform: translateY(0);
		}
	}
}
