// Dependencies.
@import 'base/headings/headings';
@import 'components/box/box';

.call-out,
%call-out {
	@extend %box;
	background: color(bronze-light);
	border: 0px solid color(bronze);
	color: color(bronze);

	h3 {
			@extend %h3;
	}	
}

.field-name-field-para-basic-callout {
	@extend %call-out;	
}
.next-steps {
	background: color(grey-extra-light);
	padding: 2em;
	
	p {
		margin-bottom: $small-spacing;
		margin-top: 0;

		&:first-child {
			margin-bottom: $large-spacing;
		}		
	}	
	ul {
		margin-top: $medium-spacing;
	}	
	li {
		margin-bottom: 5px;
	}
}

.note {
	border-top: 1px solid #eee;
	padding-top: $large-spacing;
	margin-top: $large-spacing;	
	margin-bottom: $large-spacing;

	p {
		margin-bottom: $small-spacing;
		margin-top: 0;
	}
}
