// Dependencies.
@import 'components/grid/grid';

.paragraphs-items-field-basic-content-block .field-items {
		@extend %grid;
		padding: 0px 0px 0px 0px;

		@include respond-to(m) {
			padding: 0px 0px 0px 20px;
		}	
			
		h3 {
			margin:0 auto;
			line-height: font-size(l);
			max-width: 250px;

		}
		
		.field-item {
			@extend %grid-item;
			text-align: center;
			width: calc(100%);
			margin-bottom: 40px;

			@include respond-to(m) {
				width: calc(33.333% - 20px);			
			}
			
			img {
				max-width: 100px;
			}
			
			.field-name-field-para-basic-image,
			.field-name-field-para-basic-copy,
			.field-name-field-para-basic-title {

				margin-bottom: $medium-spacing;

				.field-items {
					margin: 0;
					padding: 0;
				}
				
				.field-item {
					margin: 0 !important;
					padding: 0;
					
					p {
						margin: 0;
					}
					

				}
				
				&:after {
					clear:both;
					display: block;
					content: '';
				}
			}
			
		}

}

.paragraphs-items-field-home-blocks-2 .field-items {

		.field-item {

			.paragraphs-item-homepage-elements {
				clear:both;
				margin-bottom: 20px;

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				.field-name-field-para-home-image {
					max-width: 70px;
					float: left;
					margin-right: 20px;
				}

				.field-name-field-para-home-heading {
				
				}
				
				.field-name-field-para-home-copy {
				
				}
			}
		}
}

.field-name-field-para-home-heading {
	font-size: font-size(xl);
	font-weight: bold;
}

.field-name-field-para-home-sub-heading {
	font-weight: bold;
}

.full__back--blue {
	background: color(blue-light);
	padding: 10px 25px 50px 25px;	
	
	@include respond-to(m) {
		padding: 50px 0;
	}
		


	.block__title {
		text-align: center;
		padding: 20px 0;
	}	
}

.block__expert-guidance,
.block__get-started {
	background: color('aqua');
}

.node__expert-guidance main,
.node__get-started main {
	display: none;
}
.view-basic-page-basic-elements {

	.views-field-field-basic-content-block .field-content {
		$zen-columns: 3 !global;
		@include zen-grid-container($context: flow);
		padding: 0;
		margin: 0;
		
	}
	.paragraphs-item-basic-elements-wrapper {
	
		@include respond-to(m) {
			&:nth-child(1) {
				@include zen-grid-item(1,1);
			}

			&:nth-child(2) {
				@include zen-grid-item(1,2);			
			}

			&:nth-child(3) {
				@include zen-grid-item(1,3);			
			}
		}	
	}
	.paragraphs-item-basic-elements {
		//@extend %grid-item;
		
		background: color(white);		
		text-align: center;
		margin: 10px 10px;
		padding: 20px;
		//border-bottom: 1px solid color(grey-extra-light);

		h3, .field-name-field-para-basic-title {
			text-align: center;
			display: block;
			float: none;
			margin-top: 0;
			font-size: 15px;
		}		
		.field-name-field-para-basic-title {
			@extend %button;
			-webkit-appearance: none;
			appearance: none;			
			color: color(white) !important;
			text-transform: uppercase;
			text-decoration: none;			
			display: inline-block;
			background: color('aqua');
			&:hover {
				background: lighten( color('aqua'), 7%);
			}			
		}				
		.field-name-field-para-basic-copy {

			clear: both;

			p {
				display: none;
			}
			
			p:first-child {
				font-weight: bold;
				display: block;
			}

			p:last-child {
				display: block;
				
				span {
					color: color('aqua');		
				}
				
				a {
					//display: block;
				}
				
				
			}			
		}
		
		img {
			float: none;
			margin: 0;
			max-width: 55px;				
		}	
		
		.field-name-field-para-basic-image {
			float: none;		

		}	
		
		ul {
			display: none;
		}
		@include respond-to(xxs) {
			.field-name-field-para-basic-copy {
					text-align: left;
			}
			.field-name-field-para-basic-image {
				float: right;		
			}			
			h3 {
				float: left;
			}			
		}		
		
		@include respond-to(xs) {
			h3, .field-name-field-para-basic-title {
				font-size: font-size(l);			
			}	
		}
		@include respond-to(m) {
			margin: 20px 10px;
			min-height: 850px;

			img {
				float: none;
				margin: 0;
				max-width: 130px;				
			}	
			
			ul {
				display: block;
			}
			.field-name-field-para-basic-image {
				float: none;		
				margin-right: 0;
			}			
			h3, .field-name-field-para-basic-title {
				text-align: center;
				display: block;
				float: none;
				margin-top: $medium-spacing;	
				font-size: font-size(xl);
				clear: both;	
			}
			.field-name-field-para-basic-title {
				font-size: font-size(s);
				display: inline-block;
				padding: 10px 20px;
			}
			.field-name-field-para-basic-copy {
				text-align: left;
				clear: both;

				p {
					display: block;
				}
			}
							
		}	
	}
}



.view-expert-guidance {
	//margin-bottom: $large-spacing;
	

	@include respond-to(m){
		margin-bottom: 0;
		//padding-top: $large-spacing;			
	}
	
 	.views-row {

		background: #fff;
		.view-overview-topics {
			clear: both;
			display: none;
			background: color(white);
			
			.views-row {
				background: color(white);
				
				&:after {
					content: '';
				}
			}
		}

		&.open {
			.view-overview-topics {
				display: block;
			}
			
			.expert-guidance--header {
				&:after {
					color: color('aqua');
					content: '\f068';
				}
			}
		}

		.expert-guidance--header {
			padding: 10px;
			background: color(grey-extra-light);
			position: relative;			
			overflow: hidden;
			border-bottom: 1px solid #fff;
			
			&:after {
				content: '\f067';
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
				z-index: 10;
				font-family: FontAwesome;
				color: color(grey-light);
			}
	
			h3 {
				display: block;
				float: left;
				margin: 0;
			}	

			img {
				float: left;
				margin-right:10px;

				
			}						
		}
			

		
		@include respond-to(m) {
			text-align: center;
			padding: 20px;
			
			

			&.open {
				.expert-guidance--header {
					&:after {
						content: '';
					}
				}
			}

			.expert-guidance--header {
				background: none;

				&:after {
					content: '';
				}
				
				h3 {
					text-align: center;
					display: block;
					float: none;
				}		
				
				img {
					float: none;
					margin: 0;
					max-width: 130px;				
				}	
				
									
			}
			

			

			
			.view-overview-topics {
				display: block;
				
				.view-content {
					padding-top: 0;
					padding-right: 0;
				}
				
				.item-list {
					width: 100%;
				}
				
				ul {
					margin: 0;
					padding: 0;
				}
				
				li {
					margin: 0;
					padding: 0;		
					list-style: none;	
					
					@include respond-to(m) {
						border-bottom:1px dotted color(grey-light);	 
					}
				}
				
				a {
					color: color(off-black);
					text-decoration: none;
				}
			}			
		}	
	

		
	}
}

@include respond-to(m) {
	.paragraphs-items-field-home-blocks-1 .field-items {

			.field-item {
				width: 33%;
			}

	}	
}

.block--get-started-cta {
	text-align: center;
	background: color('aqua');
	padding: $large-spacing;
	
	p a {
		display: inline-block;
		padding: $large-spacing;
		border:2px solid color('white');
		background: rgba(0, 0, 0, 0.5);
		text-transform: uppercase;
		text-decoration: none;
		color: color('white');
		font-weight: bold;
	}
}

.icon-pdf:before {
	content: '\f1c1';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;
}

.icon-add {
	text-decoration: none;
}

.icon-add:before {
	content: '\f055';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;

}

.icon-copy {
	display: inline-block;
	position: absolute;
	
}

.icon-copy:before {
	content: '\f0c5';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;

}

.icon-warn:before {
	content: '\f071';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;
}

.icon-link:before {
	content: '\f0c1';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;
}

.icon-question:before {
	content: '\f059';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;
}

.icon-sample-report:before {
	content: '\f15c';
	display: inline;
	font-family: FontAwesome;
	margin-right: 5px;
}

.icon-vpoor:before {
	content: '\f119  \f119';
	display: inline;
	font-family: FontAwesome;
	color: color('red');
	font-size: font-size(l);
	margin-right: 5px;
	font-weight:normal;
}
.icon-poor:before {
	content: '\f119';
	display: inline;
	font-family: FontAwesome;
	color: color('orange');
	font-size: font-size(l);
	margin-right: 5px;
	font-weight:normal;
}
.icon-ok:before {
	content: '\f11a';
	display: inline;
	font-family: FontAwesome;
	color: color('black');
	font-size: font-size(l);
	margin-right: 5px;
	font-weight:normal;
	
}
.icon-good:before {
	content: '\f118';
	display: inline;
	font-family: FontAwesome;
	color: color('blue');
	font-size: font-size(l);
	margin-right: 5px;
	font-weight:normal;
}

.icon-vgood:before {
	content: '\f118  \f118';
	display: inline;
	font-family: FontAwesome;
	color: color('green');
	font-size: font-size(l);
	margin-right: 5px;
	font-weight:normal;
}

th .icon-vgood:before,
th .icon-good:before,
th .icon-poor:before,
th .icon-vpoor:before,
th .icon-ok:before {
	color:#000;
	font-weight:normal;
	font-size: font-size(l);
}
td .icon-vgood:before,
td .icon-good:before,
td .icon-poor:before,
td .icon-vpoor:before,
td .icon-ok:before {
	padding:0 5px;
	font-size: font-size(xl);

	@include respond-to(xs) {
		font-size: font-size(xxl);
		padding:0 5px;
	}
	
	@include respond-to(s) {
		font-size: font-size(xl);
		padding:0 10px;
	}
}

.radio_item{
	display: none !important;
}

.label_item {
	opacity: 0.2;
	cursor: pointer;
	-webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;	
}

.radio_item:checked + label {
	opacity: 1 !important;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}

.radio_item + label:hover {
	opacity: 0.5;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
	-webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;		
}
