// Custom Tabs
//
// Markup: custom-tabs.twig
//
// Style guide: components.custom-tabs
ul.custom-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
		
	@include zen-respond-to(m) {
		align-items: stretch;
		justify-content: center;	
	}
}

ul.custom-tabs {

	li {

		background: color(grey-extra-light);
		width: 100%;
		cursor: pointer;
		text-align: left;
		text-transform: uppercase;
		clear: both;
		border-bottom: 1px solid color(grey-extra-light);
		border-top: 1px solid color(grey-extra-light);

		overflow: hidden;
		padding:10px;
		align-items: center;
		display: flex;
	
		img {
			max-width: 35px;
			height: auto;
			margin-right: 10px;
			float: left;
			box-sizing: border-box;
			border-radius: 50%;						
		}


		&.tab-current {
			background: color(white);
			color: color('aqua');
			border-bottom: 1px solid color(white);
			border-top: 1px solid color(grey-extra-light);
			-webkit-transition: background 0.5s, color 0.5s;
			transition: background 0.5s, color 0.5s;	
		}
	

		@include zen-respond-to(m) {
	
			text-align: center;
			width: 33.333%;
			clear: none;
			padding: 20px;
			display: block;
			border-bottom: 1px solid color(grey-extra-light);
			border-top: 1px solid color(grey-extra-light);
			//border-left: 1px solid color(grey-extra-light);
			//border-right: 1px solid color(grey-extra-light);		
		
			div {
				display: block;
			}
		
			img {
				max-width: 50px;
				height: auto;
				float: none;
				margin-right: 0;				
			}
		
			&.tab-current {
				border-bottom: 1px solid color(white);
				border-top: 1px solid color(grey-extra-light);	
	

				img {

				}
			}
		}
	}

	&.two-tabs li {
		@include zen-respond-to(m) {
			width: 50%;
		}
	}
}

ul.custom-tabs li.tab-current {

}

.tab-content {
	display: none;
}

.tab-content.tab-current {
	display: inherit;
}
