// Limiter
//
// Limit the width of an element to the max width of the site
//
// Markup: limiter.twig
//
// Style guide: components.limiter

.limiter,
%limiter {
	max-width: 1180px;
	//width: 1140px + $zen-gutters;
	margin: 0 auto;
	float: none;
	position: relative;
	//padding: 0;
	box-sizing: border-box;
	clear: both;
}

