@mixin domain-theme($main) {
	$main : $main; //key corporate color

	.above-header {
    border-top: 0px solid $main;

		@include respond-to(m) {
			border-top: 10px solid $main;
		}	    
	}
	
	a, a:visited {
		color: $main;
	}			
	.navbar a,
	.navbar a:visited {
		color: color('black');
	}
	.navbar li a.active, .main-navigation .links li a.active, .main-navigation .menu li a.active,
	.navbar li a:hover, .main-navigation .links li a:hover, .main-navigation .menu li a:hover,
	.view-expert-guidance .views-row.open .expert-guidance--header:after,
	.menu-toggle.open,
	.off-canvas--close.open:after {
		  color: $main;
	}	


	.above-header__inner,
	.slide,
	.block__expert-guidance, .block__get-started,
	.block--get-started-cta,
	.box--review-set-up-ok,
	.box, .box--review-set-up-ok {
		  background: $main;	
	}
		
	.block--get-started-cta p a,
	.slide__caption .slide__button {
		color: #fff;
	}
	
	.button, button, [type='button'], [type='reset'], [type='submit'] {
		  background: $main !important;
	}	

	.button:focus, .button:active, button:focus, button:active, [type='button']:focus, [type='button']:active,  [type='reset']:focus, [type='reset']:active, [type='submit']:focus, [type='submit']:active {
		color: color(grey-extra-light);
	}
	.button:hover,[type='button']:hover, [type='submit']:hover {
		background: lighten($main, 7%) !important;
		color: #fff; 
	}	
	.view-basic-page-basic-elements .field-name-field-para-basic-title {
		background: $main !important;
		
		&:hover {
			background: lighten($main, 7%) !important;
		}
	}	

	
	.table-team-reviews th,
	.table-ind-reviews th {
		  background: $main;
		  color: color(white);
	}
	
	ul.custom-tabs li.tab-current {
		color: $main;
	}
	
	.box--review-set-up-ok {
	
		input {
	  
		}
		.review-report-info {
	
			a {
				color: $main;
			}
		}		
		.icon-copy {
		  background: $main;
		}	
		
		.divider {
			border-bottom:1px solid lighten($main, 5%);
		}	
	}	
	
	.field-name-field-para-basic-copy {

		p:last-child {
			span {
					color: $main !important;
			}
		}			
	}	
	
}
.domain-tal-net {
	@include domain-theme(#1E0067);
}

.domain-phe-tal-net {
	@include domain-theme(#00AF9F);
}
.domain-croydon-tal-net {
	@include domain-theme(#880088);
	
	.header__logo {
		
		img {
			max-height: 35px !important;;
		}
		
		@include respond-to(m) {  

			img {
				max-height: 70px !important;
			}			
		}
	}	
	
}

.domain-est-tal-net {
	@include domain-theme(#CF0072);
}

.domain-chp-tal-net {
	@include domain-theme(#0056A3);
}

.domain-redcross-tal-net {
	@include domain-theme(#D0021B);
}

