/* This file is ignored if .less is used */

h1{
	font-size: 270%;
	font-family:Calibri;
	color:#50457b;
}
 
h2{
	font-size: 180%;
	font-family:Calibri;
 }
 
 p {
	font-size: 110%;
	font-family: calibri, helvetica, sans-serif;
	color:#505050;
 }
 
 .p_font {
	font-size:110%;
	font-family: Calibri, helvetica, sans-serif;
 }
 
 .line_height_50 {
	line-height:50%;
 }
 
 /* Making changes to navbar */
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: orange;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: white;
    border-color: none;
}

/* font for dropdown */
.dropdown-menu > li  > a {
	font-family: calibri;
	font-size:110%;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color:red;  /*change color of links in all drop down here. doesn't seem to work*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }

  .navbar-default .navbar-nav > li > a {
   color: blue; /*Change menu links text color here*/
   font-family: calibri;
   font-size:110%;
    }

/* End navbar color and font settings */	

 #coachlogo{    
    margin: 25px 0px 100px -20px;
	border: 1px solid red;
    width: 160px;
    height: 165px
}

 .well {
 background-color:white;
 }
 
 #navbar {
	background-color:#0f71cf;
}

.front_box_header {
  font-size: 270%;
  font-family:Calibri;
  color:yellow;
}

.topic_header {
	font-size: 270%;
	font-family:Calibri;
}
.visionary_font_color {
	color:#b4931d;
}

.guardian_font_color {
	color:#bf401f;
}

.psychologist_font_color {
	color:#2cb11e;
}

.director_font_color {
	color:#8321c0;
}

.site_management_font_color {
	color:#50457b;
}

.overview_font_color {
	color:#0f71cf;
}

.block-title {
	font-size: 170%;
}

.margin_top_5 {
	margin-top: 5%;
}

.margin_bottom_5 {
	margin-bottom: 5%;
}

.margin_bottom_10 {
	margin-bottom: 10%;
}

.margin_left_0 {
	margin-left: 0%;
}

.margin_left_10 {
	margin-left: 10%;
}

.margin_right_10 {
	margin-right: 10%;
}



